{
  "openapi": "3.0.3",
  "info": {
    "title": "Opendatasoft's Explore API Reference Documentation",
    "version": "v2.1",
    "contact": {
      "email": "support@opendatasoft.com"
    },
    "license": {
      "name": "Copyright Opendatasoft"
    }
  },
  "servers": [
    {
      "url": "https://documentation-resources.opendatasoft.com/api/explore/v2.1",
      "description": "Portal that hosts example datasets"
    }
  ],
  "security": [
    {
      "apikey": []
    }
  ],
  "tags": [
    {
      "name": "Catalog",
      "description": "API to enumerate datasets"
    },
    {
      "name": "Dataset",
      "description": "API to work on records"
    }
  ],
  "paths": {
    "/catalog/datasets": {
      "get": {
        "summary": "Query catalog datasets",
        "operationId": "getDatasets",
        "tags": [
          "Catalog"
        ],
        "description": "Retrieve available datasets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/refine"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/group_by"
          },
          {
            "$ref": "#/components/parameters/include_links"
          },
          {
            "$ref": "#/components/parameters/include_app_metas"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of available datasets",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/results_dataset-v2.1"
                },
                "examples": {
                  "datasets": {
                    "$ref": "#/components/examples/datasets-v2.1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/exports": {
      "get": {
        "summary": "List export formats",
        "operationId": "listExportFormats",
        "tags": [
          "Catalog"
        ],
        "description": "List available export formats",
        "responses": {
          "200": {
            "description": "A list of available export formats",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/links"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/exports/{format}": {
      "get": {
        "summary": "Export a catalog",
        "operationId": "exportDatasets",
        "tags": [
          "Catalog"
        ],
        "description": "Export a catalog in the desired format.",
        "parameters": [
          {
            "$ref": "#/components/parameters/format-catalog-v2.1"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/group_by"
          },
          {
            "$ref": "#/components/parameters/limit_export"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/refine"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "Return a file"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/exports/csv": {
      "get": {
        "summary": "Export a catalog in CSV",
        "operationId": "exportCatalogCSV",
        "tags": [
          "Catalog"
        ],
        "description": "Export a catalog in CSV (Comma Separated Values). Specific parameters are described here",
        "parameters": [
          {
            "name": "delimiter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                ";",
                ",",
                "\t",
                "|"
              ],
              "default": ";"
            },
            "description": "Sets the field delimiter of the CSV export"
          },
          {
            "name": "list_separator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ","
            },
            "description": "Sets the separator character used for multivalued strings"
          },
          {
            "name": "quote_all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Set it to true to force quoting all strings, i.e. surrounding all strings with quote characters"
          },
          {
            "name": "with_bom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Set it to true to force the first characters of the CSV file to be a Unicode Byte Order Mask (0xFEFF). It usually makes Excel correctly open the output CSV file without warning.\n**Warning:** the default value of this parameter is `false` in v2.0 and `true` starting with v2.1"
          }
        ],
        "responses": {
          "200": {
            "description": "Return a file"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/exports/dcat{dcat_ap_format}": {
      "get": {
        "summary": "Export a catalog in RDF/XML (DCAT)",
        "operationId": "exportCatalogDCAT",
        "tags": [
          "Catalog"
        ],
        "description": "Export a catalog in RDF/XML described with DCAT (Data Catalog Vocabulary). Specific parameters are described here",
        "parameters": [
          {
            "$ref": "#/components/parameters/dcat_format"
          },
          {
            "name": "include_exports",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/enum-format-datasets-v2.1"
            },
            "description": "Sets the datasets exports exposed in the DCAT export. By default, all exports are exposed.",
            "examples": {
              "legacy": {
                "summary": "Only expose csv, json and geojson datasets exports",
                "value": "csv,json,geojson"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return a file"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/facets": {
      "get": {
        "summary": "List facet values",
        "operationId": "getDatasetsFacets",
        "tags": [
          "Catalog"
        ],
        "description": "Enumerate facet values for datasets and returns a list of values for each facet.\nCan be used to implement guided navigation in large result sets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/facet"
          },
          {
            "$ref": "#/components/parameters/refine"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "An enumeration of facets",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/links"
                      }
                    },
                    "facets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/facet_enumeration"
                      }
                    }
                  }
                },
                "examples": {
                  "catalog_facets": {
                    "$ref": "#/components/examples/catalog_facets"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/datasets/{dataset_id}/records": {
      "get": {
        "summary": "Query dataset records",
        "operationId": "getRecords",
        "tags": [
          "Dataset"
        ],
        "description": "Perform a query on dataset records.",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_id"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/group_by"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/refine"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/include_links"
          },
          {
            "$ref": "#/components/parameters/include_app_metas"
          }
        ],
        "responses": {
          "200": {
            "description": "Records",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/results-v2.1"
                },
                "examples": {
                  "records": {
                    "$ref": "#/components/examples/records-v2.1"
                  },
                  "group_by_country": {
                    "$ref": "#/components/examples/group_by_country-v2.1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/datasets/{dataset_id}/exports": {
      "get": {
        "summary": "List export formats",
        "operationId": "listDatasetExportFormats",
        "tags": [
          "Dataset"
        ],
        "description": "List available export formats",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_id"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of available export formats",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/links"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/datasets/{dataset_id}/exports/{format}": {
      "get": {
        "summary": "Export a dataset",
        "operationId": "exportRecords",
        "tags": [
          "Dataset"
        ],
        "description": "Export a dataset in the desired format.\n**Note:** The `group_by` parameter is only available on exports starting with the v2.1",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_id"
          },
          {
            "$ref": "#/components/parameters/format-datasets-v2.1"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/group_by"
          },
          {
            "$ref": "#/components/parameters/limit_export"
          },
          {
            "$ref": "#/components/parameters/refine"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/use_labels"
          },
          {
            "$ref": "#/components/parameters/epsg"
          }
        ],
        "responses": {
          "200": {
            "description": "Return a file"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/datasets/{dataset_id}/exports/csv": {
      "get": {
        "summary": "Export a dataset in CSV",
        "operationId": "exportRecordsCSV",
        "tags": [
          "Dataset"
        ],
        "description": "Export a dataset in CSV (Comma Separated Values). Specific parameters are described here",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_id"
          },
          {
            "name": "delimiter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                ";",
                ",",
                "\t",
                "|"
              ],
              "default": ";"
            },
            "description": "Sets the field delimiter of the CSV export"
          },
          {
            "name": "list_separator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ","
            },
            "description": "Sets the separator character used for multivalued strings"
          },
          {
            "name": "quote_all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Set it to true to force quoting all strings, i.e. surrounding all strings with quote characters"
          },
          {
            "name": "with_bom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Set it to true to force the first characters of the CSV file to be a Unicode Byte Order Mask (0xFEFF). It usually makes Excel correctly open the output CSV file without warning.\n**Warning:** the default value of this parameter is `false` in v2.0 and `true` starting with v2.1"
          }
        ],
        "responses": {
          "200": {
            "description": "Return a file"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/datasets/{dataset_id}/exports/gpx": {
      "get": {
        "summary": "Export a dataset in GPX",
        "operationId": "exportRecordsGPX",
        "tags": [
          "Dataset"
        ],
        "description": "Export a dataset in GPX. Specific parameters are described here",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_id"
          },
          {
            "name": "name_field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sets the field that is used as the 'name' attribute in the GPX output"
          },
          {
            "name": "description_field_list",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sets the fields to use in the 'description' attribute of the GPX output"
          },
          {
            "name": "use_extension",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Set it to true to use the `<extension>` tag for attributes (as GDAL does). Set it to false to use the `<desc>` tag for attributes.\n**Warning:** the default value of this parameter is `false` in v2.0 and `true` starting with v2.1"
          }
        ],
        "responses": {
          "200": {
            "description": "Return a file"
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/datasets/{dataset_id}": {
      "get": {
        "summary": "Show dataset information",
        "operationId": "getDataset",
        "tags": [
          "Catalog"
        ],
        "description": "Returns a list of available endpoints for the specified dataset, with metadata and endpoints.\n\nThe response includes the following links:\n* the attachments endpoint\n* the files endpoint\n* the records endpoint\n* the catalog endpoint.",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_id"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/timezone"
          },
          {
            "$ref": "#/components/parameters/include_links"
          },
          {
            "$ref": "#/components/parameters/include_app_metas"
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset",
            "content": {
              "application/json; charset=utf-8json": {
                "schema": {
                  "$ref": "#/components/schemas/dataset-v2.1"
                },
                "examples": {
                  "dataset": {
                    "$ref": "#/components/examples/dataset-v2.1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/datasets/{dataset_id}/facets": {
      "get": {
        "summary": "List dataset facets",
        "operationId": "getRecordsFacets",
        "tags": [
          "Dataset"
        ],
        "description": "Enumerates facet values for records and returns a list of values for each facet.\nCan be used to implement guided navigation in large result sets.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_id"
          },
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/refine"
          },
          {
            "$ref": "#/components/parameters/exclude"
          },
          {
            "$ref": "#/components/parameters/facet"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "Facets enumeration",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/links"
                      }
                    },
                    "facets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/facet_enumeration"
                      }
                    }
                  }
                },
                "examples": {
                  "facets": {
                    "$ref": "#/components/examples/facets"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/datasets/{dataset_id}/attachments": {
      "get": {
        "summary": "List dataset attachments",
        "operationId": "getDatasetAttachments",
        "tags": [
          "Dataset"
        ],
        "description": "Returns a list of all available attachments for a dataset.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_id"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all available attachments",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/links"
                      }
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/attachment"
                      }
                    }
                  }
                },
                "examples": {
                  "attachments": {
                    "$ref": "#/components/examples/attachments"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/catalog/datasets/{dataset_id}/records/{record_id}": {
      "get": {
        "summary": "Read a dataset record",
        "operationId": "getRecord",
        "tags": [
          "Dataset"
        ],
        "description": "Reads a single dataset record based on its identifier.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataset_id"
          },
          {
            "$ref": "#/components/parameters/record_id"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/lang"
          },
          {
            "$ref": "#/components/parameters/timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "A single record",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/record-v2.1"
                },
                "examples": {
                  "record": {
                    "$ref": "#/components/examples/record-v2.1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/quota"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "type": "apiKey",
        "description": "API key to make authenticated requests.",
        "name": "apikey",
        "in": "query"
      }
    },
    "parameters": {
      "select": {
        "name": "select",
        "in": "query",
        "description": "Examples:\n- `select=size` - Example of select, which only return the \"size\" field.\n- `select=size * 2 as bigger_size` - Example of a complex expression with a label, which returns a new field named \"bigger_size\" and containing the double of size field value.\n- `select=dataset_id, fields` - Example of a select in catalog ODSQL query to only retrieve dataset_id and schema of datasets.\n\nA select expression can be used to add, remove or change the fields to return.\nAn expression can be:\n  - a wildcard ('*'): all fields are returned.\n  - A field name: only the specified field is returned.\n  - An include/exclude function: All fields matching the include or exclude expression are included or excluded. This expression can contain wildcard.\n  - A complex expression. The result of the expression is returned. A label can be set for this expression, and in that case, the field will be named after this label.",
        "schema": {
          "type": "string"
        }
      },
      "where": {
        "name": "where",
        "in": "query",
        "description": "A `where` filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) and lots of other functions to perform complex and precise search operations.\n\nFor more information, see [Opendatasoft Query Language (ODSQL)](<https://help.opendatasoft.com/apis/ods-explore-v2/#section/Opendatasoft-Query-Language-(ODSQL)/Where-clause>) reference documentation.",
        "schema": {
          "type": "string"
        }
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "description": "Example: `order_by=sum(age) desc, name asc`\n\nA comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nResults are sorted in ascending order by default. To sort results in descending order, use the `desc` keyword.",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Number of items to return.\n\nTo use with the `offset` parameter to implement pagination.\n\nThe maximum possible value depends on whether the query contains a `group_by` clause or not.\n\nFor a query **without** a `group_by`:\n  - the maximum value for `limit` is 100,\n  - `offset+limit` should be less than 10000\n\nFor a query **with** a `group_by`:\n  - the maximum value for `limit` is 20000,\n  - `offset+limit` should be less than 20000\n\n**Note:** If you need more results, please use the /exports endpoint.\n",
        "schema": {
          "maximum": 100,
          "minimum": -1,
          "type": "integer",
          "default": 10
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "Index of the first item to return (starting at 0).\n\nTo use with the `limit` parameter to implement pagination.\n\n**Note:** the maximum value depends on the type of query, see the note on `limit` for the details\n",
        "schema": {
          "minimum": 0,
          "type": "integer",
          "default": 0
        }
      },
      "refine": {
        "name": "refine",
        "in": "query",
        "description": "Example: `refine=modified:2020` - Return only the value `2020` from the `modified` facet.\n\nA facet filter used to limit the result set.\nUsing this parameter, you can refine your query to display only the selected facet value in the response.\n\nRefinement uses the following syntax: `refine=<FACETNAME>:<FACETVALUE>`\n\nFor date, and other hierarchical facets, when refining on one value, all second-level values related to that entry will appear in facets enumeration. For example, after refining on the year 2019, the related second-level month will appear. And when refining on August 2019, the third-level day will appear.\n\n**`refine` must not be confused with a `where` filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.**",
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string"
        }
      },
      "exclude": {
        "name": "exclude",
        "in": "query",
        "description": "Examples:\n- `exclude=city:Paris` - Exclude the value `Paris` from the `city` facet. Facets enumeration will display `Paris` as `excluded` without any count information.\n- `exclude=modified:2019/12` - Exclude the value `2019/12` from the `modified` facet. Facets enumeration will display `2020` as `excluded` without any count information.\n\nA facet filter used to exclude a facet value from the result set.\nUsing this parameter, you can filter your query to exclude the selected facet value in the response.\n\n`exclude` uses the following syntax: `exclude=<FACETNAME>:<FACETVALUE>`\n\n**`exclude` must not be confused with a `where` filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.**",
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string"
        }
      },
      "lang": {
        "name": "lang",
        "in": "query",
        "description": "A language value.\n\nIf specified, the `lang` value override the default language, which is \"fr\".\nThe language is used to format string, for example in the `date_format` function.",
        "schema": {
          "type": "string",
          "enum": [
            "en",
            "fr",
            "nl",
            "pt",
            "it",
            "ar",
            "de",
            "es",
            "ca",
            "eu",
            "sv"
          ]
        },
        "style": "form"
      },
      "timezone": {
        "name": "timezone",
        "in": "query",
        "description": "Set the timezone for datetime fields.\n\nTimezone IDs are defined by the [Unicode CLDR project](https://github.com/unicode-org/cldr). The list of timezone IDs is available in [timezone.xml](https://github.com/unicode-org/cldr/blob/master/common/bcp47/timezone.xml).",
        "schema": {
          "type": "string",
          "default": "UTC"
        },
        "examples": {
          "UTC": {
            "summary": "UTC timezone",
            "value": "UTC"
          },
          "Europe/Paris": {
            "summary": "Paris timezone",
            "value": "Europe/Paris"
          },
          "US/Eastern": {
            "summary": "Eastern timezone",
            "value": "US/Eastern"
          },
          "Europe/London": {
            "summary": "London timezone",
            "value": "Europe/London"
          },
          "Europe/Berlin": {
            "summary": "Berlin timezone",
            "value": "Europe/Berlin"
          }
        }
      },
      "group_by": {
        "name": "group_by",
        "in": "query",
        "description": "Example: `group_by=city_field as city`\n\nA group by expression defines a grouping function for an aggregation.\nIt can be:\n - a field name: group result by each value of this field\n - a range function: group result by range\n - a date function: group result by date\n\nIt is possible to specify a custom name with the 'as name' notation.",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "include_links": {
        "name": "include_links",
        "in": "query",
        "description": "If set to `true`, this parameter will add HATEOAS links in the response.\n",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "include_app_metas": {
        "name": "include_app_metas",
        "in": "query",
        "description": "If set to `true`, this parameter will add application metadata to the response.\n",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "format-catalog-v2.1": {
        "name": "format",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "csv",
            "data.json",
            "dcat",
            "dcat_ap_ch",
            "dcat_ap_de",
            "dcat_ap_se",
            "dcat_ap_sp",
            "dcat_ap_it",
            "dcat_ap_vl",
            "dcat_ap_benap",
            "json",
            "rdf",
            "rss",
            "ttl",
            "xlsx"
          ],
          "description": "Format specifier for the catalog export.\n`dcat_ap_*` formats are only available upon activation.\nSee [here](#tag/Catalog/operation/listExportFormats) to get the list of available export formats"
        },
        "style": "simple"
      },
      "limit_export": {
        "name": "limit",
        "in": "query",
        "description": "Number of items to return in export.\n\nUse -1 (default) to retrieve all records\n",
        "schema": {
          "minimum": -1,
          "type": "integer",
          "default": -1
        }
      },
      "dcat_format": {
        "name": "dcat_ap_format",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "_ap_ch",
            "_ap_de",
            "_ap_se",
            "_ap_sp",
            "_ap_it",
            "_ap_vl",
            "_ap_benap"
          ],
          "description": "DCAT format specifier for the catalog export.\n`dcat_ap_*` formats are only available upon activation."
        },
        "style": "simple"
      },
      "facet": {
        "name": "facet",
        "in": "query",
        "description": "A facet is a field used for simple filtering (through the `refine` and `exclude` parameters) or exploration (with the `/facets` endpoint).\n\nFacets can be configured in the back-office or with this parameter.\n",
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string"
        }
      },
      "dataset_id": {
        "name": "dataset_id",
        "in": "path",
        "description": "The identifier of the dataset to be queried.\n\nYou can find it in the \"Information\" tab of the dataset page or in the dataset URL, right after `/datasets/`.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "format-datasets-v2.1": {
        "name": "format",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/enum-format-datasets-v2.1"
        },
        "style": "simple"
      },
      "use_labels": {
        "name": "use_labels",
        "in": "query",
        "description": "If set to `true`, this parameter will make exports output the label of each field rather than its name.\n\nThis parameter only makes sense for formats that contain a list of the fields in their output.\n",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "epsg": {
        "name": "epsg",
        "in": "query",
        "description": "This parameter sets the EPSG code to project shapes into for formats that support geometric features.\n",
        "schema": {
          "type": "integer",
          "default": 4326
        }
      },
      "record_id": {
        "name": "record_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Record identifier"
      }
    },
    "schemas": {
      "links": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "format": "uri"
          },
          "rel": {
            "type": "string",
            "enum": [
              "self",
              "first",
              "last",
              "next",
              "dataset",
              "catalog"
            ]
          }
        }
      },
      "dataset-v2.1": {
        "type": "object",
        "properties": {
          "_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/links"
            }
          },
          "dataset_id": {
            "type": "string"
          },
          "dataset_uid": {
            "type": "string",
            "readOnly": true
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "mimetype": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          },
          "has_records": {
            "type": "boolean"
          },
          "data_visible": {
            "type": "boolean"
          },
          "features": {
            "type": "array",
            "description": "A map of available features for a dataset, with the fields they apply to.\n",
            "items": {
              "type": "string"
            }
          },
          "metas": {
            "type": "object"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "annotations": {
                  "type": "object"
                },
                "description": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "additionalProperties": {}
        }
      },
      "results_dataset-v2.1": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer"
          },
          "_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/links"
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dataset-v2.1"
            }
          }
        }
      },
      "enum-format-datasets-v2.1": {
        "type": "string",
        "enum": [
          "csv",
          "fgb",
          "geojson",
          "gpx",
          "json",
          "jsonl",
          "jsonld",
          "kml",
          "n3",
          "ov2",
          "parquet",
          "rdfxml",
          "shp",
          "turtle",
          "xlsx"
        ]
      },
      "facet_value_enumeration": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "value": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "facet_enumeration": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "facets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/facet_value_enumeration"
            }
          }
        }
      },
      "record-v2.1": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "_timestamp": {
            "type": "string",
            "format": "dateTime"
          },
          "_size": {
            "type": "integer",
            "format": "int64"
          },
          "_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/links"
            }
          },
          "field1": {
            "type": "string"
          },
          "field2": {
            "type": "integer"
          }
        }
      },
      "results-v2.1": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer"
          },
          "_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/links"
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/record-v2.1"
            }
          }
        }
      },
      "attachment": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string"
          },
          "metas": {
            "type": "object",
            "properties": {
              "mime-type": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "examples": {
      "datasets-v2.1": {
        "value": {
          "total_count": 19,
          "results": [
            {
              "dataset_id": "world-administrative-boundaries-countries-and-territories",
              "dataset_uid": "da_6kvv9v",
              "attachments": [],
              "has_records": true,
              "data_visible": true,
              "fields": [
                {
                  "annotations": {},
                  "description": null,
                  "type": "geo_point_2d",
                  "name": "geo_point_2d",
                  "label": "Geo Point"
                },
                {
                  "annotations": {},
                  "description": null,
                  "type": "geo_shape",
                  "name": "geo_shape",
                  "label": "Geo Shape"
                },
                {
                  "description": null,
                  "label": "Status",
                  "type": "text",
                  "name": "status",
                  "annotations": {
                    "facet": []
                  }
                },
                {
                  "description": "ISO 3 code of the country to which the territory belongs",
                  "label": "ISO 3 country code",
                  "type": "text",
                  "name": "color_code",
                  "annotations": {
                    "facet": []
                  }
                },
                {
                  "description": null,
                  "label": "Region of the territory",
                  "type": "text",
                  "name": "region",
                  "annotations": {
                    "facet": []
                  }
                },
                {
                  "description": null,
                  "label": "ISO 3 territory code",
                  "type": "text",
                  "name": "iso3",
                  "annotations": {
                    "sortable": []
                  }
                },
                {
                  "description": null,
                  "label": "Continent of the territory",
                  "type": "text",
                  "name": "continent",
                  "annotations": {
                    "facet": []
                  }
                },
                {
                  "description": "Name of the territory",
                  "label": "English Name",
                  "type": "text",
                  "name": "name",
                  "annotations": {
                    "sortable": []
                  }
                },
                {
                  "annotations": {},
                  "description": null,
                  "type": "text",
                  "name": "iso_3166_1_alpha_2_codes",
                  "label": "ISO 3166-1 Alpha 2-Codes"
                },
                {
                  "annotations": {},
                  "label": "French Name",
                  "type": "text",
                  "name": "french_short",
                  "description": "French term, when it is available in https://data.opendatasoft.com/explore/dataset/countries-territories-taxonomy-mvp-ct-taxonomy-with-hxl-tags1@public/table/, English name otherwise"
                }
              ],
              "metas": {
                "default": {
                  "records_count": 256,
                  "modified": "2021-06-23T14:59:57+00:00",
                  "source_domain_address": null,
                  "references": "https://geonode.wfp.org/layers/geonode:wld_bnd_adm0_wfp",
                  "keyword": [
                    "United Nation",
                    "ISO-3 code",
                    "Countries",
                    "Territories",
                    "Shape",
                    "Boundaries"
                  ],
                  "source_domain_title": null,
                  "geographic_reference": [
                    "world"
                  ],
                  "timezone": null,
                  "title": "World Administrative Boundaries - Countries and Territories",
                  "parent_domain": null,
                  "theme": [
                    "Administration, Government, Public finances, Citizenship"
                  ],
                  "modified_updates_on_data_change": false,
                  "metadata_processed": "2021-06-23T15:00:02.656000+00:00",
                  "data_processed": "2019-05-15T07:49:01+00:00",
                  "territory": [
                    "World"
                  ],
                  "description": "<p>This dataset displays level 0 world administrative boundaries. It contains countries as well as non-sovereign territories (like, for instance, French overseas). </p>",
                  "modified_updates_on_metadata_change": false,
                  "shared_catalog": null,
                  "source_domain": null,
                  "attributions": null,
                  "geographic_area_mode": null,
                  "geographic_reference_auto": true,
                  "geographic_area": null,
                  "publisher": "World Food Programme (UN agency)",
                  "language": "en",
                  "license": "Open Government Licence v3.0",
                  "source_dataset": null,
                  "metadata_languages": [
                    "en"
                  ],
                  "oauth_scope": null,
                  "federated": true,
                  "license_url": "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                }
              },
              "features": [
                "analyze",
                "geo"
              ]
            },
            {
              "dataset_id": "geonames-all-cities-with-a-population-1000",
              "dataset_uid": "da_5m8ykr",
              "attachments": [
                {
                  "mimetype": "application/zip",
                  "url": "odsfile://cities1000.zip",
                  "id": "cities1000_zip",
                  "title": "cities1000.zip"
                }
              ],
              "has_records": true,
              "data_visible": true,
              "fields": [
                {
                  "description": null,
                  "label": "Geoname ID",
                  "type": "text",
                  "name": "geoname_id",
                  "annotations": {
                    "facetsort": [
                      "-count"
                    ],
                    "id": []
                  }
                },
                {
                  "description": null,
                  "label": "Name",
                  "type": "text",
                  "name": "name",
                  "annotations": {
                    "sortable": []
                  }
                },
                {
                  "description": null,
                  "label": "ASCII Name",
                  "type": "text",
                  "name": "ascii_name",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "Alternate Names",
                  "type": "text",
                  "name": "alternate_names",
                  "annotations": {
                    "multivalued": [
                      ","
                    ]
                  }
                },
                {
                  "description": "see http://www.geonames.org/export/codes.html",
                  "label": "Feature Class",
                  "type": "text",
                  "name": "feature_class",
                  "annotations": {}
                },
                {
                  "description": "see http://www.geonames.org/export/codes.html",
                  "label": "Feature Code",
                  "type": "text",
                  "name": "feature_code",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "Country Code",
                  "type": "text",
                  "name": "country_code",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "Country name EN",
                  "type": "text",
                  "name": "cou_name_en",
                  "annotations": {
                    "facet": [],
                    "facetsort": [
                      "alphanum"
                    ],
                    "disjunctive": []
                  }
                },
                {
                  "description": null,
                  "label": "Country Code 2",
                  "type": "text",
                  "name": "country_code_2",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "Admin1 Code",
                  "type": "text",
                  "name": "admin1_code",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "Admin2 Code",
                  "type": "text",
                  "name": "admin2_code",
                  "annotations": {
                    "facetsort": [
                      "-count"
                    ]
                  }
                },
                {
                  "description": null,
                  "label": "Admin3 Code",
                  "type": "text",
                  "name": "admin3_code",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "Admin4 Code",
                  "type": "text",
                  "name": "admin4_code",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "Population",
                  "type": "int",
                  "name": "population",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "Elevation",
                  "type": "text",
                  "name": "elevation",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "DIgital Elevation Model",
                  "type": "int",
                  "name": "dem",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "Timezone",
                  "type": "text",
                  "name": "timezone",
                  "annotations": {
                    "facet": [],
                    "hierarchical": [
                      "/"
                    ]
                  }
                },
                {
                  "description": null,
                  "label": "Modification date",
                  "type": "date",
                  "name": "modification_date",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "LABEL EN",
                  "type": "text",
                  "name": "label_en",
                  "annotations": {}
                },
                {
                  "description": null,
                  "label": "Coordinates",
                  "type": "geo_point_2d",
                  "name": "coordinates",
                  "annotations": {
                    "facetsort": [
                      "-count"
                    ]
                  }
                }
              ],
              "metas": {
                "default": {
                  "records_count": 137609,
                  "modified": "2021-06-23T14:37:45+00:00",
                  "source_domain_address": null,
                  "references": null,
                  "keyword": null,
                  "source_domain_title": null,
                  "geographic_reference": [
                    "world"
                  ],
                  "timezone": null,
                  "title": "Geonames - All Cities with a population > 1000",
                  "parent_domain": null,
                  "theme": null,
                  "modified_updates_on_data_change": false,
                  "metadata_processed": "2021-06-23T14:49:23.198000+00:00",
                  "data_processed": "2021-06-23T14:49:23+00:00",
                  "territory": [
                    "World"
                  ],
                  "description": null,
                  "modified_updates_on_metadata_change": false,
                  "shared_catalog": null,
                  "source_domain": null,
                  "attributions": null,
                  "geographic_area_mode": null,
                  "geographic_reference_auto": true,
                  "geographic_area": null,
                  "publisher": null,
                  "language": "en",
                  "license": null,
                  "source_dataset": null,
                  "metadata_languages": [
                    "en"
                  ],
                  "oauth_scope": null,
                  "federated": false,
                  "license_url": null
                }
              },
              "features": [
                "geo",
                "analyze",
                "timeserie"
              ]
            }
          ]
        }
      },
      "catalog_facets": {
        "value": {
          "links": [],
          "facets": [
            {
              "name": "publisher",
              "facets": [
                {
                  "count": 2,
                  "state": "displayed",
                  "name": "Opendatasoft",
                  "value": "Opendatasoft"
                },
                {
                  "count": 2,
                  "state": "displayed",
                  "name": "Opendatasoft - Data Team",
                  "value": "Opendatasoft - Data Team"
                }
              ]
            },
            {
              "name": "features",
              "facets": [
                {
                  "count": 19,
                  "state": "displayed",
                  "name": "analyze",
                  "value": "analyze"
                },
                {
                  "count": 13,
                  "state": "displayed",
                  "name": "timeserie",
                  "value": "timeserie"
                }
              ]
            },
            {
              "name": "language",
              "facets": [
                {
                  "count": 17,
                  "state": "displayed",
                  "name": "en",
                  "value": "en"
                },
                {
                  "count": 4,
                  "state": "displayed",
                  "name": "fr",
                  "value": "fr"
                }
              ]
            }
          ]
        }
      },
      "records-v2.1": {
        "value": {
          "total_count": 137611,
          "results": [
            {
              "admin1_code": "27",
              "elevation": null,
              "name": "Saint-Leu",
              "modification_date": "2019-03-26",
              "alternate_names": [
                "Saint-Leu"
              ],
              "feature_class": "P",
              "admin3_code": "711",
              "cou_name_en": "France",
              "coordinates": {
                "lat": 46.7306,
                "lon": 4.50083
              },
              "country_code_2": null,
              "geoname_id": "2978771",
              "feature_code": "PPL",
              "label_en": "France",
              "dem": 366,
              "country_code": "FR",
              "ascii_name": "Saint-Leu",
              "timezone": "Europe/Paris",
              "admin2_code": "71",
              "admin4_code": "71436",
              "population": 29278
            },
            {
              "admin1_code": "32",
              "elevation": null,
              "name": "Saint-Léger-lès-Domart",
              "modification_date": "2016-02-18",
              "alternate_names": [
                "Saint-Leger",
                "Saint-Leger-les-Domart",
                "Saint-Léger",
                "Saint-Léger-lès-Domart"
              ],
              "feature_class": "P",
              "admin3_code": "802",
              "cou_name_en": "France",
              "coordinates": {
                "lat": 50.05208,
                "lon": 2.14067
              },
              "country_code_2": null,
              "geoname_id": "2978817",
              "feature_code": "PPL",
              "label_en": "France",
              "dem": 31,
              "country_code": "FR",
              "ascii_name": "Saint-Leger-les-Domart",
              "timezone": "Europe/Paris",
              "admin2_code": "80",
              "admin4_code": "80706",
              "population": 1781
            }
          ]
        }
      },
      "group_by_country-v2.1": {
        "value": {
          "results": [
            {
              "count": 16729,
              "cou_name_en": "United States"
            },
            {
              "count": 9945,
              "cou_name_en": "Italy"
            },
            {
              "count": 8981,
              "cou_name_en": "Mexico"
            }
          ]
        }
      },
      "dataset-v2.1": {
        "value": {
          "dataset_id": "geonames-all-cities-with-a-population-1000",
          "dataset_uid": "da_s2n5ed",
          "attachments": [],
          "has_records": true,
          "data_visible": true,
          "fields": [
            {
              "description": null,
              "label": "Geoname ID",
              "type": "text",
              "name": "geoname_id",
              "annotations": {
                "facetsort": [
                  "-count"
                ],
                "id": []
              }
            },
            {
              "description": null,
              "label": "Name",
              "type": "text",
              "name": "name",
              "annotations": {
                "sortable": []
              }
            },
            {
              "annotations": {},
              "description": null,
              "type": "text",
              "name": "ascii_name",
              "label": "ASCII Name"
            },
            {
              "description": null,
              "label": "Alternate Names",
              "type": "text",
              "name": "alternate_names",
              "annotations": {
                "multivalued": [
                  ","
                ]
              }
            },
            {
              "annotations": {},
              "label": "Feature Class",
              "type": "text",
              "name": "feature_class",
              "description": "see http://www.geonames.org/export/codes.html"
            },
            {
              "annotations": {},
              "label": "Feature Code",
              "type": "text",
              "name": "feature_code",
              "description": "see http://www.geonames.org/export/codes.html"
            },
            {
              "annotations": {},
              "description": null,
              "type": "text",
              "name": "country_code",
              "label": "Country Code"
            },
            {
              "description": null,
              "label": "Country name EN",
              "type": "text",
              "name": "cou_name_en",
              "annotations": {
                "facet": [],
                "facetsort": [
                  "alphanum"
                ],
                "disjunctive": []
              }
            },
            {
              "annotations": {},
              "description": null,
              "type": "text",
              "name": "country_code_2",
              "label": "Country Code 2"
            },
            {
              "annotations": {},
              "description": null,
              "type": "text",
              "name": "admin1_code",
              "label": "Admin1 Code"
            },
            {
              "description": null,
              "label": "Admin2 Code",
              "type": "text",
              "name": "admin2_code",
              "annotations": {
                "facetsort": [
                  "-count"
                ]
              }
            },
            {
              "annotations": {},
              "description": null,
              "type": "text",
              "name": "admin3_code",
              "label": "Admin3 Code"
            },
            {
              "annotations": {},
              "description": null,
              "type": "text",
              "name": "admin4_code",
              "label": "Admin4 Code"
            },
            {
              "annotations": {},
              "description": null,
              "type": "int",
              "name": "population",
              "label": "Population"
            },
            {
              "annotations": {},
              "description": null,
              "type": "text",
              "name": "elevation",
              "label": "Elevation"
            },
            {
              "annotations": {},
              "description": null,
              "type": "int",
              "name": "dem",
              "label": "DIgital Elevation Model"
            },
            {
              "description": null,
              "label": "Timezone",
              "type": "text",
              "name": "timezone",
              "annotations": {
                "facet": [],
                "hierarchical": [
                  "/"
                ]
              }
            },
            {
              "annotations": {},
              "description": null,
              "type": "date",
              "name": "modification_date",
              "label": "Modification date"
            },
            {
              "annotations": {},
              "description": null,
              "type": "text",
              "name": "label_en",
              "label": "LABEL EN"
            },
            {
              "description": null,
              "label": "Coordinates",
              "type": "geo_point_2d",
              "name": "coordinates",
              "annotations": {
                "facetsort": [
                  "-count"
                ]
              }
            }
          ],
          "metas": {
            "default": {
              "records_count": 137611,
              "modified": "2021-06-23T07:50:20+00:00",
              "source_domain_address": null,
              "references": "https://download.geonames.org/export/dump/",
              "keyword": [
                "Geonames",
                "city",
                "world"
              ],
              "source_domain_title": null,
              "geographic_reference": [
                "world"
              ],
              "timezone": null,
              "title": "Geonames - All Cities with a population > 1000",
              "parent_domain": null,
              "theme": [
                "Administration, Government, Public finances, Citizenship"
              ],
              "modified_updates_on_data_change": true,
              "metadata_processed": "2021-06-23T07:50:26.162000+00:00",
              "data_processed": "2021-06-22T08:47:08+00:00",
              "territory": [
                "World"
              ],
              "description": "<p>All cities with a population &gt; 1000 or seats of adm div (ca 80.000)</p><h4>Sources and Contributions</h4><ul><li><strong>Sources</strong> : GeoNames is aggregating over hundred different <a href=\"http://www.geonames.org/data-sources.html\">data sources</a>. \t</li><li><strong>Ambassadors</strong> : <a href=\"http://www.geonames.org/team.html#ambassadors\">GeoNames Ambassadors</a> help in many countries. \t</li><li><strong>Wiki</strong> : A <a href=\"http://www.geonames.org/manual.html\">wiki</a> allows to view the data and quickly fix error and add missing places. \t</li><li><strong>Donations and Sponsoring</strong> : Costs for running GeoNames are covered by <a href=\"http://www.geonames.org/donations.html\">donations and sponsoring</a>.</li></ul><p><b>Enrichment:</b></p><ul><li>add country name</li></ul>",
              "modified_updates_on_metadata_change": false,
              "shared_catalog": null,
              "source_domain": null,
              "attributions": [
                "https://www.geonames.org/about.html"
              ],
              "geographic_area_mode": null,
              "geographic_reference_auto": true,
              "geographic_area": null,
              "publisher": "GeoNames",
              "language": "en",
              "license": "CC BY 4.0",
              "source_dataset": null,
              "metadata_languages": [
                "en"
              ],
              "oauth_scope": null,
              "federated": true,
              "license_url": "https://creativecommons.org/licenses/by/4.0/"
            }
          },
          "features": [
            "geo",
            "analyze",
            "timeserie"
          ]
        }
      },
      "facets": {
        "value": {
          "links": [],
          "facets": [
            {
              "facets": [
                {
                  "count": 68888,
                  "state": "displayed",
                  "name": "Europe",
                  "value": "Europe"
                },
                {
                  "count": 36276,
                  "state": "displayed",
                  "name": "America",
                  "value": "America"
                }
              ],
              "name": "timezone"
            },
            {
              "facets": [
                {
                  "count": 313,
                  "state": "displayed",
                  "name": "Afghanistan",
                  "value": "Afghanistan"
                },
                {
                  "count": 356,
                  "state": "displayed",
                  "name": "Albania",
                  "value": "Albania"
                }
              ],
              "name": "cou_name_en"
            }
          ]
        }
      },
      "attachments": {
        "value": {
          "links": [],
          "attachments": [
            {
              "href": "https://documentation-resources.opendatasoft.com/api/v2/catalog/datasets/geonames-all-cities-with-a-population-1000/attachments/cities1000_zip",
              "metas": {
                "mime-type": "application/zip",
                "title": "cities1000.zip"
              }
            }
          ]
        }
      },
      "record-v2.1": {
        "value": {
          "timezone": "Europe/Brussels",
          "elevation": null,
          "name": "Fraire",
          "modification_date": "2020-04-05",
          "dem": 238,
          "cou_name_en": "Belgium",
          "feature_class": "P",
          "admin3_code": "93",
          "alternate_names": [
            "Fraire"
          ],
          "coordinates": {
            "lat": 50.26127,
            "lon": 4.5076
          },
          "country_code_2": null,
          "geoname_id": "2798031",
          "feature_code": "PPL",
          "label_en": "Belgium",
          "admin4_code": "93088",
          "country_code": "BE",
          "ascii_name": "Fraire",
          "admin1_code": "WAL",
          "admin2_code": "WNA",
          "population": 1492
        }
      }
    },
    "responses": {
      "bad_request": {
        "description": "Bad Request",
        "content": {
          "application/json; charset=utf-8": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "minLength": 1
                },
                "error_code": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "message",
                "error_code"
              ]
            },
            "examples": {
              "invalid_odsql": {
                "value": {
                  "message": "ODSQL query is malformed: invalid_function() Clause(s) containing the error(s): select.",
                  "error_code": "ODSQLError"
                }
              }
            }
          }
        }
      },
      "quota": {
        "description": "Too many requests",
        "content": {
          "application/json; charset=utf-8": {
            "schema": {
              "type": "object",
              "properties": {
                "errorcode": {
                  "type": "number"
                },
                "reset_time": {
                  "type": "string",
                  "minLength": 1
                },
                "limit_time_unit": {
                  "type": "string",
                  "minLength": 1
                },
                "call_limit": {
                  "type": "number"
                },
                "error": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "errorcode",
                "reset_time",
                "limit_time_unit",
                "call_limit",
                "error"
              ]
            },
            "examples": {
              "quota_exceeded": {
                "value": {
                  "errorcode": 10002,
                  "reset_time": "2021-01-26T00:00:00Z",
                  "limit_time_unit": "day",
                  "call_limit": 10000,
                  "error": "Too many requests on the domain. Please contact the domain administrator."
                }
              }
            }
          }
        }
      }
    }
  }
}
