<!--
  ~ Copyright (c) 2021, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ballerina-integration-tests">
    <test name="integration-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="io.ballerina.openapi.extension.build.BuildExtensionTests"/>
            <class name="io.ballerina.openapi.cmd.BallerinaToOpenAPITests"/>
            <class name="io.ballerina.openapi.extension.build.ValidatorTests"/>
            <class name="io.ballerina.openapi.cmd.ServiceGeneratorReturnTypeTests"/>
            <class name="io.ballerina.openapi.cmd.ClientGenerationTests"/>
            <class name="io.ballerina.openapi.cmd.SchemaGenerationTests"/>
<!--            <class name="io.ballerina.openapi.idl.client.IDLClientGenPluginTests"/>-->
<!--            <class name="io.ballerina.openapi.idl.client.IDLClientGenPluginNegativeTests"/>-->
        </classes>
    </test>
</suite>
