openapi: 3.0.2
info:
  x-ballerina-display:
    label: Box
    iconPath: "icon.png"
  title: Box Platform API
  description: >
    This is a generated connector for [Box Platform API v2.0.0](https://developer.box.com/guides/) OpenAPI specification.

    [Box Platform](https://box.dev) provides functionality to provide access to content stored within [Box](https://box.com). It provides endpoints for basic manipulation of files and folders, management of users within an enterprise, as well as more complex topics such as legal holds and retention policies.
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials.

    Create a [Box Developer Account](https://developer.box.com/) and obtain tokens following [this guide](https://developer.box.com/guides/).
  termsOfService: 'https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9'
  contact:
    name: 'Box, Inc'
    url: 'https://box.dev'
    email: devrel@box.com
  license:
    name: Apache-2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  version: 2.0.0
servers:
  - url: 'https://api.box.com/2.0'
    description: Box Platform API server
paths:
  /authorize:
    get:
      operationId: get_authorize
      summary: Authorize user
      description: 'Authorize a user by sending them through the [Box](https://box.com) website and request their permission to act on their behalf.  This is the first step when authenticating a user using OAuth 2.0. To request a user''s authorization to use the Box APIs on their behalf you will need to send a user to the URL with this format.'
      tags:
        - Authorization
      x-box-tag: authorization
      security: []
      servers:
        - url: 'https://account.box.com/api/oauth2'
          description: Server for client-side authentication
      parameters:
        - name: response_type
          description: The type of response we'd like to receive.
          in: query
          example: code
          required: true
          schema:
            type: string
            format: token
            enum:
              - code
        - name: client_id
          description: 'The Client ID of the application that is requesting to authenticate the user. To get the Client ID for your application, log in to your Box developer console and click the **Edit Application** link for the application you''re working with. In the OAuth 2.0 Parameters section of the configuration page, find the item labelled `client_id`. The text of that item is your application''s Client ID.'
          in: query
          example: ly1nj6n11vionaie65emwzk575hnnmrk
          required: true
          schema:
            type: string
        - name: redirect_uri
          description: The URL to which Box redirects the browser after the user has granted or denied the application permission. This URL must match the redirect URL in the configuration of your application. It must be a valid HTTPS URL and it needs to be able to handle the redirection to complete the next step in the OAuth 2.0 flow.
          in: query
          example: 'http://example.com/auth/callback'
          required: false
          schema:
            type: string
            format: url
        - name: state
          description: 'A custom string of your choice. Box will pass the same string to the redirect URL when authentication is complete. This parameter can be used to identify a user on redirect, as well as protect against hijacked sessions and other exploits.'
          in: query
          example: my_state
          required: false
          schema:
            type: string
        - name: scope
          description: A comma-separated list of application scopes you'd like to authenticate the user for. This defaults to all the scopes configured for the application in its configuration page.
          in: query
          example: admin_readwrite
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Does not return any data, but rather should be used in the browser.'
          content:
            text/html:
              schema:
                type: string
                format: html
        default:
          description: 'Does not return any data, but rather should be used in the browser.'
          content:
            text/html:
              schema:
                type: string
                format: html
  /oauth2/token:
    post:
      operationId: post_oauth2_token
      summary: Request access token
      description: 'Request an Access Token using either a client-side obtained OAuth 2.0 authorization code or a server-side JWT assertion.  An Access Token is a string that enables Box to verify that a request belongs to an authorized session. In the normal order of operations you will begin by requesting authentication from the [authorize](#get-authorize) endpoint and Box will send you an authorization code.  You will then send this code to this endpoint to exchange it for an Access Token. The returned Access Token can then be used to to make Box API calls.'
      tags:
        - Authorization
      servers:
        - url: 'https://api.box.com'
          description: Server for server-side authentication
      x-box-tag: authorization
      security: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostOAuth2Token'
      responses:
        '200':
          description: 'Returns a new Access Token that can be used to make authenticated API calls by passing along the token in a authorization header as follows `Authorization: Bearer <Token>`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
        default:
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
  /oauth2/token#refresh:
    post:
      operationId: post_oauth2_token#refresh
      summary: Refresh access token
      description: 'Refresh an Access Token using its client ID, secret, and refresh token.'
      tags:
        - Authorization
      servers:
        - url: 'https://api.box.com'
          description: Server for server-side authentication
      x-box-tag: authorization
      x-box-is-variation: true
      security: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostOAuth2Token--RefreshAccessToken'
      responses:
        '200':
          description: 'Returns a new Access Token that can be used to make authenticated API calls by passing along the token in a authorization header as follows `Authorization: Bearer <Token>`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
        default:
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
  /oauth2/revoke:
    post:
      operationId: post_oauth2_revoke
      summary: Revoke access token
      description: 'Revoke an active Access Token, effectively logging a user out that has been previously authenticated.'
      tags:
        - Authorization
      servers:
        - url: 'https://api.box.com'
          description: Server for server-side authentication
      x-box-tag: authorization
      security: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostOAuth2Revoke'
      responses:
        '200':
          content: {}
          description: Returns an empty response when the token was successfully revoked.
        '400':
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
        default:
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
  '/files/{file_id}':
    get:
      operationId: get_files_id
      summary: Get file information
      tags:
        - Files
      x-box-tag: files
      x-box-enable-explorer: true
      description: Retrieves the details about a file.
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.  Additionally this field can be used to query any metadata applied to the file by specifying the `metadata` field as well as the scope and key of the template to retrieve, for example `?field=metadata.enterprise_12345.contractTemplate`.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: if-none-match
          description: Ensures an item is only returned if it has changed.  Pass in the item's last observed `etag` value into this header and the endpoint will fail with a `304 Not Modified` if the item has not changed since.
          in: header
          required: false
          example: '1'
          schema:
            type: string
        - name: boxapi
          description: 'The URL, and optional password, for the shared link of this item.  This header can be used to access items that have not been explicitly shared with a user.  Use the format `shared_link=[link]` or if a password is required then use `shared_link=[link]&shared_link_password=[password]`.  This header can be used on the file or folder shared, as well as on any files or folders nested within the item.'
          example: 'shared_link=[link]&shared_link_password=[password]'
          in: header
          required: false
          schema:
            type: string
        - name: x-rep-hints
          description: 'A header required to request specific `representations` of a file. Use this in combination with the `fields` query parameter to request a specific file representation.  The general format for these representations is `X-Rep-Hints: [...]` where `[...]` is one or many hints in the format `[fileType?query]`.  For example, to request a `png` representation in `32x32` as well as `94x94` pixel dimensions provide the following hints.  `X-Rep-Hints: [jpg?dimensions=32x32][jpg?dimensions=94x94]`  Additionally, a `text` representation is available for all document file types in Box using the `[extracted_text]` representation.  `X-Rep-Hints: [extracted_text]`'
          example: '[pdf]'
          in: header
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: 'Returns a file object.  Not all available fields are returned by default. Use the [fields](#param-fields) query parameter to explicitly request any specific fields.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '304':
          description: Returns an empty response when the `If-None-Match` header matches the current `etag` value of the folder. This indicates that the folder has not changed since it was last requested.
        '401':
          description: Returned when the access token provided in the `Authorization` header is not recognized or not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returned if the file is not found, or the user does not have access to the file.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returned if the `file_id` is not in a recognized format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '415':
          description: Returns an error if an action is performed on a file with an incorrect media type.  * `unsupported_media_type` when requesting an `expiring_embed_link`   for a file that is not supported by Box Embed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    post:
      operationId: post_files_id
      summary: Restore file
      tags:
        - Trashed files
      x-box-tag: trashed_files
      description: Restores a file that has been moved to the trash.  An optional new parent ID can be provided to restore the file to in case the original folder has been deleted.
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: An optional new name for the file.
                  example: Restored.docx
                  type: string
                parent:
                  type: object
                  description: The parent for this item
                  properties:
                    id:
                      type: string
                      description: The ID of parent item
                      example: '123'
      responses:
        '201':
          description: Returns a file object when the file has been restored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '403':
          description: 'Returns an error if the user does not have access to the folder the file is being restored to, or the user does not have permission to restore files from the trash.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: Returns an error if the file is not in the trash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '409':
          description: Returns an error if there is an file with the same name in the folder the file is being restored to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    put:
      operationId: put_files_id
      summary: Update file
      tags:
        - Files
      x-box-tag: files
      x-box-enable-explorer: true
      x-box-sanitized: true
      description: 'Updates a file. This can be used to rename or move a file, create a shared link, or lock a file.'
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: if-match
          description: Ensures this item hasn't recently changed before making changes.  Pass in the item's last observed `etag` value into this header and the endpoint will fail with a `412 Precondition Failed` if it has changed since.
          in: header
          required: false
          example: '1'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: An optional different name for the file. This can be used to rename the file.
                  example: NewFile.txt
                description:
                  type: string
                  description: 'The description for a file. This can be seen in the right-hand sidebar panel when viewing a file in the Box web app. Additionally, this index is used in the search index of the file, allowing users to find the file by the content in the description.'
                  maxLength: 256
                  example: The latest reports. Automatically updated
                parent:
                  type: object
                  description: The parent for this item
                  properties:
                    id:
                      type: string
                      description: The ID of parent item
                      example: '123'
                shared_link:
                  description: Defines a shared link for an item. Set this to `null` to remove the shared link.
                  type: object
                  properties:
                    access:
                      type: string
                      description: 'The level of access for the shared link. This can be restricted to anyone with the link (`open`), only people within the company (`company`) and only those who have been invited to the folder (`collaborators`).  If not set, this field defaults to the access level specified by the enterprise admin. To create a shared link with this default setting pass the `shared_link` object with no `access` field, for example `{ "shared_link": {} }`.  The `company` access level is only available to paid accounts.'
                      enum:
                        - open
                        - company
                        - collaborators
                      example: open
                    password:
                      type: string
                      description: The password required to access the shared link. Set the password to `null` to remove it.  A password can only be set when `access` is set to `open`.
                      example: do-not-use-this-password
                    vanity_name:
                      type: string
                      description: 'Defines a custom vanity name to use in the shared link URL, for example `https://app.box.com/v/my-shared-link`.  Custom URLs should not be used when sharing sensitive content as vanity URLs are a lot easier to guess than regular shared links.'
                      example: my-shared-link
                    unshared_at:
                      type: string
                      format: date-time
                      example: '2012-12-12T10:53:43-08:00'
                      description: The timestamp at which this shared link will expire. This field can only be set by users with paid accounts.
                    permissions:
                      type: object
                      description: The permissions for the shared link.
                      properties:
                        can_download:
                          type: boolean
                          example: true
                          description: If the shared link allows for downloading of files. This can only be set when `access` is set to `open` or `company`.
                lock:
                  type: object
                  description: 'Defines a lock on an item. This prevents the item from being moved, renamed, or otherwise changed by anyone other than the user who created the lock.  Set this to `null` to remove the lock.'
                  required:
                    - type
                  properties:
                    access:
                      type: string
                      description: The type of this object.
                      enum:
                        - lock
                      example: lock
                    expires_at:
                      type: string
                      format: date-time
                      example: '2012-12-12T10:53:43-08:00'
                      description: Defines the time at which the lock expires.
                    is_download_prevented:
                      type: boolean
                      example: true
                      description: Defines if the file can be downloaded while it is locked.
                permissions:
                  description: Defines who can download a file.
                  type: object
                  properties:
                    can_download:
                      description: 'Defines who is allowed to download this file. The possible values are either `open` for everyone or `company` for the other members of the user''s enterprise.  This setting overrides the download permissions that are normally part of the `role` of a collaboration. When set to `company`, this essentially removes the download option for external users with `viewer` or `editor` a roles.'
                      type: string
                      example: open
                      enum:
                        - open
                        - company
                tags:
                  type: array
                  example:
                    - approved
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
                  description: 'The tags for this item. These tags are shown in the Box web app and mobile apps next to an item.  To add or remove a tag, retrieve the item''s current tags, modify them, and then update this field.  There is a limit of 100 tags per item, and 10,000 unique tags per enterprise.'
      responses:
        '200':
          description: 'Returns a file object.  Not all available fields are returned by default. Use the [fields](#param-fields) query parameter to explicitly request any specific fields.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '401':
          description: Returned when the access token provided in the `Authorization` header is not recognized or not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '403':
          description: Returned if the user does not have all the permissions to complete the update.  * `access_denied_insufficient_permissions` when the authenticated user does not have access the destination folder to move the file to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returned if the file is not found, or the user does not have access to the file.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returned if the `file_id` is not in a recognized format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '412':
          description: Returns an error when the `If-Match` header does not match the current `etag` value of the file. This indicates that the file has changed since it was last requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    delete:
      operationId: delete_files_id
      summary: Delete file
      tags:
        - Files
      x-box-tag: files
      x-box-sanitized: true
      description: 'Deletes a file, either permanently or by moving it to the trash.  The the enterprise settings determine whether the item will be permanently deleted from Box or moved to the trash.'
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: if-match
          description: Ensures this item hasn't recently changed before making changes.  Pass in the item's last observed `etag` value into this header and the endpoint will fail with a `412 Precondition Failed` if it has changed since.
          in: header
          required: false
          example: '1'
          schema:
            type: string
      responses:
        '204':
          content: {}
          description: Returns an empty response when the file has been successfully deleted.
        '401':
          description: Returned when the access token provided in the `Authorization` header is not recognized or not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returned if the file is not found or has already been deleted, or the user does not have access to the file.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returned if the `file_id` is not in a recognized format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '412':
          description: Returns an error when the `If-Match` header does not match the current `etag` value of the file. This indicates that the file has changed since it was last requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/content':
    get:
      operationId: get_files_id_content
      summary: Download file
      tags:
        - Downloads
      x-box-tag: downloads
      description: Returns the contents of a file in binary format.
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: range
          description: 'The byte range of the content to download.  The format `{start_byte}-{end_byte}` can be used to specify what section of the file to download.'
          example: 0-1024
          in: header
          required: false
          schema:
            type: string
        - name: boxapi
          description: 'The URL, and optional password, for the shared link of this item.  This header can be used to access items that have not been explicitly shared with a user.  Use the format `shared_link=[link]` or if a password is required then use `shared_link=[link]&shared_link_password=[password]`.  This header can be used on the file or folder shared, as well as on any files or folders nested within the item.'
          example: 'shared_link=[link]&shared_link_password=[password]'
          in: header
          required: false
          schema:
            type: string
        - name: version
          description: The file version to download
          example: '4'
          in: query
          required: false
          schema:
            type: string
        - name: access_token
          description: 'An optional access token that can be used to pre-authenticate this request, which means that a download link can be shared with a browser or a third party service without them needing to know how to handle the authentication. When using this parameter, please make sure that the access token is sufficiently scoped down to only allow read access to that file and no other files or folders.'
          example: c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
          in: query
          required: false
          schema:
            type: string
      responses:
        '202':
          content: {}
          description: If the file is not ready to be downloaded yet `Retry-After` header will be returned indicating the time in seconds after which the file will be available for the client to download.  This response can occur when the file was uploaded immediately before the download request.
          headers:
            Retry-After:
              description: The time in seconds after which to retry the download
              schema:
                type: integer
        '302':
          description: If the file is available to be downloaded the response will include a `Location` header for the file on `dl.boxcloud.com`.  The `dl.boxcloud.com` URL is not persistent and clients will need to follow the redirect in order to actually download the file.
          headers:
            Location:
              description: A pointer to the download URL
              schema:
                type: string
                format: url
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    post:
      operationId: post_files_id_content
      tags:
        - Uploads
      x-box-tag: uploads
      summary: Upload file version
      description: 'Update a file''s content. For file sizes over 50MB we recommend using the Chunk Upload APIs.  # Request body order  The `attributes` part of the body must come **before** the `file` part. Requests that do not follow this format when uploading the file will receive a HTTP `400` error with a `metadata_after_file_contents` error code.'
      servers:
        - url: 'https://upload.box.com/api/2.0'
          description: Server for file uploads
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: if-match
          description: Ensures this item hasn't recently changed before making changes.  Pass in the item's last observed `etag` value into this header and the endpoint will fail with a `412 Precondition Failed` if it has changed since.
          in: header
          required: false
          example: '1'
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: content-md5
          required: false
          schema:
            type: string
          example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
          in: header
          description: An optional header containing the SHA1 hash of the file to ensure that the file was not corrupted in transit.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - attributes
                - file
              properties:
                attributes:
                  description: The additional attributes of the file being uploaded. Mainly the name and the parent folder. These attributes are part of the multi part request body and are in JSON format.  <Message warning>    The `attributes` part of the body must come **before** the   `file` part. Requests that do not follow this format when   uploading the file will receive a HTTP `400` error with a   `metadata_after_file_contents` error code.  </Message>
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                      description: 'An optional new name for the file. If specified, the file will be renamed when the new version is uploaded.'
                      example: Photo 2.0.png
                    content_modified_at:
                      type: string
                      format: date-time
                      example: '2012-12-12T10:53:43-08:00'
                      description: 'Defines the time the file was last modified at.  If not set, the upload time will be used.'
                file:
                  type: string
                  format: binary
                  description: The content of the file to upload to Box.  <Message warning>    The `attributes` part of the body must come **before** the   `file` part. Requests that do not follow this format when   uploading the file will receive a HTTP `400` error with a   `metadata_after_file_contents` error code.  </Message>
      responses:
        '200':
          description: Returns the new file object in a list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
        '412':
          description: Returns an error when the `If-Match` header does not match the current `etag` value of the file. This indicates that the file has changed since it was last requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  /files/content:
    post:
      operationId: post_files_content
      tags:
        - Uploads
      x-box-tag: uploads
      summary: Upload file
      description: 'Uploads a small file to Box. For file sizes over 50MB we recommend using the Chunk Upload APIs.  # Request body order  The `attributes` part of the body must come **before** the `file` part. Requests that do not follow this format when uploading the file will receive a HTTP `400` error with a `metadata_after_file_contents` error code.'
      servers:
        - url: 'https://upload.box.com/api/2.0'
          description: Server for file uploads
      parameters:
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: content-md5
          required: false
          schema:
            type: string
          example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
          in: header
          description: An optional header containing the SHA1 hash of the file to ensure that the file was not corrupted in transit.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - attributes
                - file
              properties:
                attributes:
                  description: The additional attributes of the file being uploaded. Mainly the name and the parent folder. These attributes are part of the multi part request body and are in JSON format.  <Message warning>    The `attributes` part of the body must come **before** the   `file` part. Requests that do not follow this format when   uploading the file will receive a HTTP `400` error with a   `metadata_after_file_contents` error code.  </Message>
                  type: object
                  required:
                    - name
                    - parent
                  properties:
                    name:
                      type: string
                      description: The name of the file
                      example: Photo.png
                    parent:
                      type: object
                      description: The parent folder to upload the file to
                      required:
                        - id
                      properties:
                        id:
                          type: string
                          example: '124132'
                          description: The id of the parent folder. Use `0` for the user's root folder.
                    content_created_at:
                      type: string
                      format: date-time
                      example: '2012-12-12T10:53:43-08:00'
                      description: 'Defines the time the file was originally created at.  If not set, the upload time will be used.'
                    content_modified_at:
                      type: string
                      format: date-time
                      example: '2012-12-12T10:53:43-08:00'
                      description: 'Defines the time the file was last modified at.  If not set, the upload time will be used.'
                file:
                  type: string
                  format: binary
                  description: The content of the file to upload to Box.  <Message warning>    The `attributes` part of the body must come **before** the   `file` part. Requests that do not follow this format when   uploading the file will receive a HTTP `400` error with a   `metadata_after_file_contents` error code.  </Message>
      responses:
        '201':
          description: Returns the new file object in a list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
        '409':
          description: 'Returns an error if the file already exists, or the account has run out of disk space.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  /files/upload_sessions:
    post:
      operationId: post_files_upload_sessions
      summary: Create upload session
      tags:
        - Uploads (Chunked)
      x-box-tag: chunked_uploads
      description: Creates an upload session for a new file.
      servers:
        - url: 'https://upload.box.com/api/2.0'
          description: Server for file uploads
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - folder_id
                - file_size
                - file_name
              properties:
                folder_id:
                  description: The ID of the folder to upload the new file to.
                  type: string
                  example: '0'
                file_size:
                  description: The total number of bytes of the file to be uploaded
                  example: 104857600
                  type: integer
                  format: int64
                file_name:
                  description: The name of new file
                  example: Project.mov
                  type: string
      responses:
        '201':
          description: Returns a new upload session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        '400':
          description: 'Returns an error if some of the parameters are missing or not valid.  * `missing_destination`: No `folder_id` was provided * `invalid_folder_id`: `folder_id` is not valid * `item_name_invalid`: `file_name` is not valid * `missing_file_size`: `file_size` was not provided * `invalid_file_size`: `file_size` was not a valid number * `file_size_too_small`: `file_size` is below minimum file size for   uploads via this API * `missing_file_name`: `file_name` was not provided'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '403':
          description: 'Returns an error if the operation is not allowed for some reason.  * `storage_limit_exceeded`: Account storage limit reached'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returns an error if the parent folder could not be found, or the authenticated user does not have access to it.  * `invalid_parameter`: The `folder_id` value represents a   folder that the user does not have access to, or does not   exist.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '409':
          description: 'Returns an error if the file already exists, or the account has run out of disk space.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/upload_sessions':
    post:
      operationId: post_files_id_upload_sessions
      summary: Create upload session for existing file
      tags:
        - Uploads (Chunked)
      x-box-tag: chunked_uploads
      description: Creates an upload session for an existing file.
      servers:
        - url: 'https://upload.box.com/api/2.0'
          description: Server for file uploads
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - file_size
              properties:
                file_size:
                  description: The total number of bytes of the file to be uploaded
                  example: 104857600
                  type: integer
                  format: int64
                file_name:
                  description: The optional new name of new file
                  example: Project.mov
                  type: string
      responses:
        '201':
          description: Returns a new upload session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        '409':
          description: 'Returns an error if the file already exists, or if the account has run out of disk space.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/upload_sessions/{upload_session_id}':
    get:
      operationId: get_files_upload_sessions_id
      summary: Get upload session
      tags:
        - Uploads (Chunked)
      description: Return information about an upload session.
      x-box-tag: chunked_uploads
      servers:
        - url: 'https://upload.box.com/api/2.0'
          description: Server for file uploads
      parameters:
        - name: upload_session_id
          description: The ID of the upload session.
          example: D5E3F7A
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns an upload session object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    put:
      operationId: put_files_upload_sessions_id
      summary: Upload part of file
      tags:
        - Uploads (Chunked)
      x-box-tag: chunked_uploads
      description: Updates a chunk of an upload session for a file.
      servers:
        - url: 'https://upload.box.com/api/2.0'
          description: Server for file uploads
      parameters:
        - name: upload_session_id
          description: The ID of the upload session.
          example: D5E3F7A
          in: path
          required: true
          schema:
            type: string
        - name: digest
          description: 'The [RFC3230][1] message digest of the chunk uploaded.  Only SHA1 is supported. The SHA1 digest must be Base64 encoded. The format of this header is as `sha=BASE64_ENCODED_DIGEST`.  [1]: https://tools.ietf.org/html/rfc3230'
          example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
          in: header
          required: true
          schema:
            type: string
        - name: content-range
          description: The byte range of the chunk.  Must not overlap with the range of a part already uploaded this session.
          example: bytes 8388608-16777215/445856194
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              description: The binary content of the file
      responses:
        '200':
          description: Chunk has been uploaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedPart'
        '409':
          description: Returns an error if the chunk conflicts with another chunk previously uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '412':
          description: Returns an error if a precondition was not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '416':
          description: Returns an error if the content range does not match a specified range for the session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    delete:
      operationId: delete_files_upload_sessions_id
      summary: Remove upload session
      tags:
        - Uploads (Chunked)
      description: Abort an upload session and discard all data uploaded.  This cannot be reversed.
      servers:
        - url: 'https://upload.box.com/api/2.0'
          description: Server for file uploads
      x-box-tag: chunked_uploads
      parameters:
        - name: upload_session_id
          description: The ID of the upload session.
          example: D5E3F7A
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          content: {}
          description: A blank response is returned if the session was successfully aborted.
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/upload_sessions/{upload_session_id}/parts':
    get:
      operationId: get_files_upload_sessions_id_parts
      summary: List parts
      tags:
        - Uploads (Chunked)
      x-box-tag: chunked_uploads
      servers:
        - url: 'https://upload.box.com/api/2.0'
          description: Server for file uploads
      description: Return a list of the chunks uploaded to the upload session so far.
      parameters:
        - name: upload_session_id
          description: The ID of the upload session.
          example: D5E3F7A
          in: path
          required: true
          schema:
            type: string
        - name: offset
          description: The offset of the item at which to begin the response.
          in: query
          required: false
          example: 1000
          schema:
            type: integer
            format: int64
            default: 0
        - name: limit
          description: The maximum number of items to return per page.
          in: query
          required: false
          example: 1000
          schema:
            type: integer
            format: int64
            maximum: 1000
      responses:
        '200':
          description: Returns a list of parts that have been uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadParts'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/upload_sessions/{upload_session_id}/commit':
    post:
      operationId: post_files_upload_sessions_id_commit
      summary: Commit upload session
      tags:
        - Uploads (Chunked)
      x-box-tag: chunked_uploads
      servers:
        - url: 'https://upload.box.com/api/2.0'
          description: Server for file uploads
      description: Close an upload session and create a file from the uploaded chunks.
      parameters:
        - name: upload_session_id
          description: The ID of the upload session.
          example: D5E3F7A
          in: path
          required: true
          schema:
            type: string
        - name: digest
          description: 'The [RFC3230][1] message digest of the whole file.  Only SHA1 is supported. The SHA1 digest must be Base64 encoded. The format of this header is as `sha=BASE64_ENCODED_DIGEST`.  [1]: https://tools.ietf.org/html/rfc3230'
          in: header
          example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
          required: true
          schema:
            type: string
        - name: if-match
          description: Ensures this item hasn't recently changed before making changes.  Pass in the item's last observed `etag` value into this header and the endpoint will fail with a `412 Precondition Failed` if it has changed since.
          in: header
          required: false
          example: '1'
          schema:
            type: string
        - name: if-none-match
          description: Ensures an item is only returned if it has changed.  Pass in the item's last observed `etag` value into this header and the endpoint will fail with a `304 Not Modified` if the item has not changed since.
          in: header
          required: false
          example: '1'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - parts
              properties:
                parts:
                  type: array
                  description: The list details for the uploaded parts
                  items:
                    $ref: '#/components/schemas/UploadPart'
      responses:
        '201':
          description: Returns the file object in a list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
        '202':
          content: {}
          description: 'Returns when all chunks have been uploaded but not yet processed.  Inspect the upload session to get more information about the progress of processing the chunks, then retry committing the file when all chunks have processed.'
          headers:
            Retry-After:
              description: Indicates the number of seconds the client should wait before attempting their commit request again.
              schema:
                type: integer
        '409':
          description: Returns an error if there is already a file with the same name in the target folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '412':
          description: Returns an error if the `If-Match` or `If-None-Match` conditions fail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/copy':
    post:
      operationId: post_files_id_copy
      summary: Copy file
      description: Creates a copy of a file.
      tags:
        - Files
      x-box-tag: files
      x-box-enable-explorer: true
      x-box-sanitized: true
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - parent
              nullable: false
              properties:
                name:
                  type: string
                  description: 'An optional new name for the copied file.  There are some restrictions to the file name. Names containing non-printable ASCII characters, forward and backward slashes (`/`, `\`), and protected names like `.` and `..` are automatically sanitized by removing the non-allowed characters.'
                  example: FileCopy.txt
                  maxLength: 255
                version:
                  type: string
                  description: An optional ID of the specific file version to copy.
                  example: '0'
                parent:
                  type: object
                  description: The destination folder to copy the file to.
                  required:
                    - id
                  properties:
                    id:
                      type: string
                      description: The ID of folder to copy the file to.
                      example: '0'
      responses:
        '201':
          description: 'Returns a new file object representing the copied file.  Not all available fields are returned by default. Use the [fields](#param-fields) query parameter to explicitly request any specific fields.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '304':
          description: Returns an empty response when the `If-None-Match` header matches the current `etag` value of the file. This indicates that the file has not changed since it was last requested.
        '400':
          description: Returns an error if some of the parameters are missing or not valid.  * `bad_request` when a parameter is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returns an error if either the source file or the destination folder could not be found, or the authenticated user does not have access to either.  * `not_found` when the authenticated user does not have access   to the source file or the destination folder'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '409':
          description: '* `operation_blocked_temporary`: Returned if either of the destination   or source folders is locked due to another move, copy, delete or   restore operation in process.    The operation can be retried at a later point.  * `item_name_in_use` when a folder with the same name already   exists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/thumbnail.{extension}':
    get:
      operationId: get_files_id_thumbnail_id
      summary: Get file thumbnail
      description: 'Retrieves a thumbnail, or smaller image representation, of a file.  Sizes of `32x32`,`64x64`, `128x128`, and `256x256` can be returned in the `.png` format and sizes of `32x32`, `94x94`, `160x160`, and `320x320` can be returned in the `.jpg` format.  Thumbnails can be generated for the image and video file formats listed [found on our community site][1].  [1]: https://community.box.com/t5/Migrating-and-Previewing-Content/File-Types-and-Fonts-Supported-in-Box-Content-Preview/ta-p/327'
      tags:
        - Files
      x-box-tag: files
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: extension
          description: The file format for the thumbnail
          in: path
          required: true
          example: png
          schema:
            type: string
            enum:
              - png
              - jpg
        - name: min_height
          description: The minimum height of the thumbnail
          in: query
          example: 32
          schema:
            type: integer
            minimum: 32
            maximum: 320
        - name: min_width
          description: The minimum width of the thumbnail
          in: query
          example: 32
          schema:
            type: integer
            minimum: 32
            maximum: 320
        - name: max_height
          description: The maximum height of the thumbnail
          in: query
          required: false
          example: 320
          schema:
            type: integer
            minimum: 32
            maximum: 320
        - name: max_width
          description: The maximum width of the thumbnail
          in: query
          required: false
          example: 320
          schema:
            type: integer
            minimum: 32
            maximum: 320
      responses:
        '200':
          description: When a thumbnail can be created the thumbnail data will be returned in the body of the response.
          content:
            image/png:
              schema:
                type: string
                format: binary
                description: The thumbnail
            image/jpg:
              schema:
                type: string
                format: binary
                description: The thumbnail
        '202':
          content: {}
          description: 'Sometimes generating a thumbnail can take a few seconds. In these situations the API returns a `Location`-header pointing to a placeholder graphic for this file type.  The placeholder graphic can be used in a user interface until the thumbnail generation has completed. The `Retry-After`-header indicates when to the thumbnail will be ready. At that time, retry this endpoint to retrieve the thumbnail.'
          headers:
            Retry-After:
              description: The time in seconds after which the thumbnail will be available.  Your application  only attempt to get the thumbnail again after this time.
              schema:
                type: integer
                format: int64
            Location:
              description: A pointer to a placeholder graphic that can be used until the thumbnail has been generated.
              schema:
                type: string
                format: url
        '302':
          description: 'Returns an error when Box is not able to create a thumbnail for this file type.  Instead, a `Location`-header pointing to a placeholder graphic for this file type will be returned.'
          headers:
            Location:
              description: A pointer to a placeholder graphic that can be used for this file type.
              schema:
                type: string
                format: url
        '400':
          description: 'Returns an error if some of the parameters are missing or not valid.  * `requested_preview_unavailable` - an incorrect dimension was   requested. This will happen if the dimension requested is   larger or smaller than the available file sizes for the thumbnail   format, or when when any of the size constraints contradict   each other.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '403':
          description: Returned when the access token provided in the `Authorization` header is not recognized or not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returned if the file is not found, or the user does not have access to the file, or for additional reasons.  * `preview_cannot_be_generated` - Box does not support thumbnails   for this type of file'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/collaborations':
    get:
      operationId: get_files_id_collaborations
      summary: List file collaborations
      description: Retrieves a list of pending and active collaborations for a file. This returns all the users that have access to the file or have been invited to the file.
      tags:
        - Collaborations (List)
      x-box-tag: list_collaborations
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          description: The maximum number of items to return per page.
          in: query
          required: false
          example: 1000
          schema:
            type: integer
            format: int64
            maximum: 1000
        - name: marker
          description: Defines the position marker at which to begin returning results. This is used when paginating using marker-based pagination.  This requires `usemarker` to be set to `true`.
          in: query
          required: false
          example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
          schema:
            type: string
      responses:
        '200':
          description: 'Returns a collection of collaboration objects. If there are no collaborations on this file an empty collection will be returned.  This list includes pending collaborations, for which the `status` is set to `pending`, indicating invitations that have been sent but not yet accepted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaborations'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/comments':
    get:
      operationId: get_files_id_comments
      summary: List file comments
      description: Retrieves a list of comments for a file.
      tags:
        - Comments
      x-box-tag: comments
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          description: The maximum number of items to return per page.
          in: query
          required: false
          example: 1000
          schema:
            type: integer
            format: int64
            maximum: 1000
        - name: offset
          description: The offset of the item at which to begin the response.
          in: query
          required: false
          example: 1000
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: Returns a collection of comment objects. If there are no comments on this file an empty collection will be returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comments'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/tasks':
    get:
      operationId: get_files_id_tasks
      summary: List tasks on file
      description: Retrieves a list of all the tasks for a file. This endpoint does not support pagination.
      tags:
        - Tasks
      x-box-tag: tasks
      x-box-sanitized: true
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns a list of tasks on a file.  If there are no tasks on this file an empty collection is returned instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks'
        '404':
          description: Returns an error when the file could not be found or the user does not have access to the file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returns an error when the `file_id` was not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '500':
          description: Returns an error when an attempt was made to retrieve tasks for the file with ID `0`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/trash':
    get:
      operationId: get_files_id_trash
      summary: Get trashed file
      tags:
        - Trashed files
      x-box-tag: trashed_files
      description: 'Retrieves a file that has been moved to the trash.  Please note that only if the file itself has been moved to the trash can it be retrieved with this API call. If instead one of its parent folders was moved to the trash, only that folder can be inspected using the [`GET /folders/:id/trash`](e://get_folders_id_trash) API.  To list all items that have been moved to the trash, please use the [`GET /folders/trash/items`](e://get-folders-trash-items/) API.'
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: 'Returns the file that was trashed, including information about when the it was moved to the trash.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '404':
          description: 'Returns an error if the file can not be found directly in the trash.  Please note that a `HTTP 404` is also returned if any of the file''s parent folders have been moved to the trash.  In that case, only that parent folder can be inspected using the [`GET /folders/:id/trash`](e://get_folders_id_trash) API.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    delete:
      operationId: delete_files_id_trash
      summary: Permanently remove file
      tags:
        - Trashed files
      x-box-tag: trashed_files
      description: Permanently deletes a file that is in the trash. This action cannot be undone.
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          content: {}
          description: Returns an empty response when the file was permanently deleted.
        '404':
          description: Returns an error if the file is not in the trash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/versions':
    get:
      operationId: get_files_id_versions
      summary: List all file versions
      tags:
        - File versions
      x-box-tag: file_versions
      description: 'Retrieve a list of the past versions for a file.  Versions are only tracked by Box users with premium accounts. To fetch the ID of the current version of a file, use the `GET /file/:id` API.'
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          description: The maximum number of items to return per page.
          in: query
          required: false
          example: 1000
          schema:
            type: integer
            format: int64
            maximum: 1000
        - name: offset
          description: The offset of the item at which to begin the response.
          in: query
          required: false
          example: 1000
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: Returns an array of past versions for this file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersions'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/versions/{file_version_id}':
    get:
      operationId: get_files_id_versions_id
      summary: Get file version
      tags:
        - File versions
      x-box-tag: file_versions
      description: Retrieve a specific version of a file.  Versions are only tracked for Box users with premium accounts.
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: file_version_id
          description: The ID of the file version
          in: path
          required: true
          example: '1234'
          schema:
            type: string
      responses:
        '200':
          description: 'Returns a specific version of a file.  Not all available fields are returned by default. Use the [fields](#param-fields) query parameter to explicitly request any specific fields.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersion'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    delete:
      operationId: delete_files_id_versions_id
      summary: Remove file version
      tags:
        - File versions
      x-box-tag: file_versions
      description: Move a file version to the trash.  Versions are only tracked for Box users with premium accounts.
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: file_version_id
          description: The ID of the file version
          in: path
          required: true
          example: '1234'
          schema:
            type: string
        - name: if-match
          description: Ensures this item hasn't recently changed before making changes.  Pass in the item's last observed `etag` value into this header and the endpoint will fail with a `412 Precondition Failed` if it has changed since.
          in: header
          required: false
          example: '1'
          schema:
            type: string
      responses:
        '204':
          content: {}
          description: Returns an empty response when the file has been successfully deleted.
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/versions/current':
    post:
      operationId: post_files_id_versions_current
      summary: Revert file version
      tags:
        - File versions
      x-box-tag: file_versions
      description: 'Revert to a previous version of a file.  If previous versions exist, this method can be used to promote one of the older versions to the top of the version history.  This actually creates a new copy of the old version and puts it at the top of the versions history. The file will have the exact same contents as the older version, with the the same hash digest, `etag`, and name as the original.  Other properties such as comments do not get updated to their former values.'
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
        - name: fields
          description: 'A comma-separated list of attributes to include in the response. This can be used to request fields that are not normally returned in a standard response.  Be aware that specifying this parameter will have the effect that none of the standard fields are returned in the response unless explicitly specified, instead only fields for the mini representation are returned, additional to the fields requested.'
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The file version to revert to
              properties:
                id:
                  type: string
                  description: The file version ID
                  example: '11446498'
                type:
                  type: string
                  description: The type to revert to
                  example: file_version
                  enum:
                    - file_version
      responses:
        '201':
          description: Returns a newly created file version object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersion'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/files/{file_id}/watermark':
    get:
      operationId: get_files_id_watermark
      summary: Get watermark on file
      tags:
        - Watermarks (Files)
      x-box-tag: file_watermarks
      description: Retrieve the watermark for a file.
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns an object containing information about the watermark associated for to this file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Watermark'
        '404':
          description: Returns an error if the file does not have a watermark applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    put:
      operationId: put_files_id_watermark
      summary: Apply watermark to file
      tags:
        - Watermarks (Files)
      x-box-tag: file_watermarks
      description: Applies or update a watermark on a file.
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - watermark
              properties:
                watermark:
                  type: object
                  description: The watermark to imprint on the file
                  required:
                    - imprint
                  properties:
                    imprint:
                      type: string
                      example: default
                      description: The type of watermark to apply.  Currently only supports one option.
                      enum:
                        - default
      responses:
        '200':
          description: Returns an updated watermark if a watermark already existed on this file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Watermark'
        '201':
          description: Returns a new watermark if no watermark existed on this file yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Watermark'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    delete:
      operationId: delete_files_id_watermark
      summary: Remove watermark from file
      tags:
        - Watermarks (Files)
      x-box-tag: file_watermarks
      description: Removes the watermark from a file.
      parameters:
        - name: file_id
          description: 'The unique identifier that represent a file.  The ID for any file can be determined by visiting a file in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/files/123` the `file_id` is `123`.'
          example: '12345'
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          content: {}
          description: An empty response will be returned when the watermark was successfully deleted.
        '404':
          description: Returns an error if the file did not have a watermark applied to it
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/file_requests/{file_request_id}':
    get:
      operationId: get_file_requests_id
      summary: Get file request
      tags:
        - File requests
      x-box-tag: file_requests
      x-box-enable-explorer: true
      description: Retrieves the information about a file request.
      parameters:
        - name: file_request_id
          description: 'The unique identifier that represent a file request.  The ID for any file request can be determined by visiting a file request builder in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/filerequest/123` the `file_request_id` is `123`.'
          example: '123'
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns a file request object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
        '401':
          description: Returned when the access token provided in the `Authorization` header is not recognized or not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returned if the file request is not found, or the user does not have access to the associated folder.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returned if the `file_request_id` is not in a recognized format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    put:
      operationId: put_file_requests_id
      summary: Update file request
      tags:
        - File requests
      x-box-tag: file_requests
      x-box-enable-explorer: true
      x-box-sanitized: true
      description: Updates a file request. This can be used to activate or deactivate a file request.
      parameters:
        - name: file_request_id
          description: 'The unique identifier that represent a file request.  The ID for any file request can be determined by visiting a file request builder in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/filerequest/123` the `file_request_id` is `123`.'
          example: '123'
          in: path
          required: true
          schema:
            type: string
        - name: if-match
          description: Ensures this item hasn't recently changed before making changes.  Pass in the item's last observed `etag` value into this header and the endpoint will fail with a `412 Precondition Failed` if it has changed since.
          in: header
          required: false
          example: '1'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileRequestUpdateRequest'
      responses:
        '200':
          description: Returns the updated file request object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRequest'
        '401':
          description: Returned when the access token provided in the `Authorization` header is not recognized or not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '403':
          description: Returned if the user does not have all the permissions to complete the update.  * `access_denied_insufficient_permissions` when the authenticated user does not have access to update the file request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returned if the file request is not found, or the user does not have access to the associated folder.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returned if the `file_request_id` is not in a recognized format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '412':
          description: Returns an error when the `If-Match` header does not match the current `etag` value of the file request. This indicates that the file request has changed since it was last requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
    delete:
      operationId: delete_file_requests_id
      summary: Delete file request
      tags:
        - File requests
      x-box-tag: file_requests
      x-box-sanitized: true
      description: Deletes a file request permanently.
      parameters:
        - name: file_request_id
          description: 'The unique identifier that represent a file request.  The ID for any file request can be determined by visiting a file request builder in the web application and copying the ID from the URL. For example, for the URL `https://*.app.box.com/filerequest/123` the `file_request_id` is `123`.'
          example: '123'
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          content: {}
          description: Returns an empty response when the file request has been successfully deleted.
        '401':
          description: Returned when the access token provided in the `Authorization` header is not recognized or not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returned if the file request is not found or has already been deleted, or the user does not have access to the associated folder.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returned if the `file_request_id` is not in a recognized format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
  '/file_requests/{file_request_id}/copy':
    post:
      operationId: post_file_requests_id_copy
      summary: Copy file request
      tags:
        - File requests
      x-box-tag: file_requests
      x-box-enable-explorer: true
      x-box-sanitized: true
      description: 'Copies an existing file request that is already present on one folder, and applies it to another folder.'
      parameters:
        - name: file_request_id
[...]
