openapi: 3.0.1
info:
  x-ballerina-display:
    label: Azure IoT Hub
    iconPath: "icon.png"
  title: Azure IoT Hub
  description: >
    This is a generated connector from [Azure IoT Hub API v1.0](https://docs.microsoft.com/en-us/rest/api/iothub/) OpenAPI specification.

    Azure IoT Hub is a service that offers programmatic access to the device, messaging, and job services, as well as the resource provider, in IoT Hub.
    You can access messaging services from within an IoT service running in Azure, or directly over the Internet from any application that can send an HTTPS request and receive an HTTPS response.

    Use this API to manage the IoT hubs in your Azure subscription.
  x-ballerina-init-description: >
    The connector initialization requires setting the API credentials.

    Create an [Azure  IoT Hub account](https://azure.microsoft.com/en-us/services/iot-hub/) and obtain OAuth tokens following [this guide](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security).
  version: "2019-11-04"
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/iothub/resource-manager/Microsoft.Devices/stable/2019-11-04/iothub.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: iothub
  x-tags:
    - Azure
    - Microsoft
servers:
  - url: https://management.azure.com/
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/Microsoft.Devices/operations:
    get:
      tags:
        - Operations
      description: Lists all of the available IoT Hub REST API operations.
      operationId: Operations_List
      parameters:
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2019-11-04
          responses:
            200:
              body:
                value:
                  - display:
                      description: Register the subscription for the IotHub resource
                        provider and enables the creation of IotHub resources
                      operation: Register Resource Provider
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/register/action
                  - display:
                      description: Gets the diagnostic setting for the resource
                      operation: Get Diagnostic Setting
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/IotHubs/diagnosticSettings/read
                  - display:
                      description: Creates or updates the diagnostic setting for the
                        resource
                      operation: Set Diagnostic Setting
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/IotHubs/diagnosticSettings/write
                  - display:
                      description: Gets the available metrics for the IotHub service
                      operation: Read IotHub service metric definitions
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/IotHubs/metricDefinitions/read
                  - display:
                      description: Gets the available log definitions for the IotHub
                        Service
                      operation: Read IotHub service log definitions
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/IotHubs/logDefinitions/read
                  - display:
                      description: Get All ResourceProvider Operations
                      operation: Get All ResourceProvider Operations
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/operations/Read
                  - display:
                      description: Check If IotHub name is available
                      operation: Check If IotHub name is available
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/checkNameAvailability/Action
                  - display:
                      description: Get subscription usage details for this provider.
                      operation: Get Subscription Usages
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/usages/Read
                  - display:
                      description: Gets the IotHub resource(s)
                      operation: Get IotHub(s)
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/Read
                  - display:
                      description: Create or update IotHub Resource
                      operation: Create or update IotHub Resource
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/Write
                  - display:
                      description: Delete IotHub Resource
                      operation: Delete IotHub Resource
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/Delete
                  - display:
                      description: Get IotHub Statistics
                      operation: Get IotHub Statistics
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/iotHubStats/Read
                  - display:
                      description: Get valid IotHub Skus
                      operation: Get valid IotHub Skus
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/skus/Read
                  - display:
                      description: Get all IotHub Keys
                      operation: Get all IotHub Keys
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/listkeys/Action
                  - display:
                      description: Get IotHub Key for the given name
                      operation: Get IotHub Key for the given name
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/iotHubKeys/listkeys/Action
                  - display:
                      description: Create EventHub Consumer Group
                      operation: Create EventHub Consumer Group
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Write
                  - display:
                      description: Get EventHub Consumer Group(s)
                      operation: Get EventHub Consumer Group(s)
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Read
                  - display:
                      description: Delete EventHub Consumer Group
                      operation: Delete EventHub Consumer Group
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/eventHubEndpoints/consumerGroups/Delete
                  - display:
                      description: Export Devices
                      operation: Export Devices
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/exportDevices/Action
                  - display:
                      description: Import Devices
                      operation: Import Devices
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/importDevices/Action
                  - display:
                      description: Get Job(s) details submitted on given IotHub
                      operation: Get the Job(s) on IotHub
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/jobs/Read
                  - display:
                      description: Get Quota Metrics
                      operation: Get Quota Metrics
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/quotaMetrics/Read
                  - display:
                      description: Test a message against all existing Routes
                      operation: Routing Rule Test All
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/routing/routes/$testall/Action
                  - display:
                      description: Test a message against a provided test Route
                      operation: Routing Rule Test Route
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/routing/routes/$testnew/Action
                  - display:
                      description: Gets the health of all routing Endpoints for an IotHub
                      operation: Get Endpoint Health
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/iotHubs/routingEndpointsHealth/Read
                  - display:
                      description: Gets the diagnostic setting for the resource
                      operation: Get Diagnostic Setting
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/ProvisioningServices/diagnosticSettings/read
                  - display:
                      description: Creates or updates the diagnostic setting for the
                        resource
                      operation: Set Diagnostic Setting
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/ProvisioningServices/diagnosticSettings/write
                  - display:
                      description: Gets the available metrics for the DPS service
                      operation: Read DPS service metric definitions
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/ProvisioningServices/metricDefinitions/read
                  - display:
                      description: Gets the available log definitions for the DPS Service
                      operation: Read DPS service log definitions
                      provider: Microsoft Devices
                      resource: IotHubs
                    name: Microsoft.Devices/ProvisioningServices/logDefinitions/read
                  - display:
                      description: Check If Provisioning Service name is available
                      operation: Check If Provisioning Service name is available
                      provider: Microsoft Devices
                      resource: ProvisioningServives
                    name: Microsoft.Devices/checkProvisioningServiceNameAvailability/Action
                  - display:
                      description: Get Provisioning Service resource
                      operation: Get Provisioning Service resource
                      provider: Microsoft Devices
                      resource: ProvisioningServices
                    name: Microsoft.Devices/provisioningServices/Read
                  - display:
                      description: Create Provisioning Service resource
                      operation: Create Provisioning Service resource
                      provider: Microsoft Devices
                      resource: ProvisioningServices
                    name: Microsoft.Devices/provisioningServices/Write
                  - display:
                      description: Delete Provisioning Service resource
                      operation: Delete Provisioning Service resource
                      provider: Microsoft Devices
                      resource: ProvisioningServices
                    name: Microsoft.Devices/provisioningServices/Delete
                  - display:
                      description: Delete Provisioning Service resource
                      operation: Delete Provisioning Service resource
                      provider: Microsoft Devices
                      resource: ProvisioningServices
                    name: Microsoft.Devices/provisioningServices/skus/Read
                  - display:
                      description: get security related metadata
                      operation: get security related metadata
                      provider: Microsoft Devices
                      resource: ProvisioningServices
                    name: Microsoft.Devices/provisioningServices/listkeys/Action
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/IotHubs:
    get:
      tags:
        - GET
      summary: Get all the IoT hubs in a subscription
      description: Get all the IoT hubs in a subscription.
      operationId: IotHubResource_ListBySubscription
      parameters:
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
        - name: subscriptionId
          in: path
          description: The subscription identifier.
          required: true
          schema:
            type: string
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the IoT hubs in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-examples:
        IotHubResource_ListBySubscription:
          parameters:
            api-version: 2019-11-04
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            200:
              body:
                value:
                  - etag: AAAAAAFD6M4=
                    id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                    location: centraluseuap
                    name: testHub
                    properties:
                      cloudToDevice:
                        defaultTtlAsIso8601: PT1H
                        feedback:
                          lockDurationAsIso8601: PT1M
                          maxDeliveryCount: 10
                          ttlAsIso8601: PT1H
                        maxDeliveryCount: 10
                      enableFileUploadNotifications: false
                      eventHubEndpoints:
                        events:
                          endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                          partitionCount: 2
                          partitionIds:
                            - "0"
                            - "1"
                          path: iot-dps-cit-hub-1
                          retentionTimeInDays: 1
                      features: None
                      hostName: iot-dps-cit-hub-1.azure-devices.net
                      ipFilterRules: []
                      messagingEndpoints:
                        fileNotifications:
                          lockDurationAsIso8601: PT1M
                          maxDeliveryCount: 10
                          ttlAsIso8601: PT1H
                      provisioningState: Succeeded
                      routing:
                        endpoints:
                          eventHubs: []
                          serviceBusQueues: []
                          serviceBusTopics: []
                          storageContainers: []
                        fallbackRoute:
                          condition: "true"
                          endpointNames:
                            - events
                          isEnabled: true
                          name: $fallback
                          source: DeviceMessages
                        routes: []
                      state: Active
                      storageEndpoints:
                        $default:
                          connectionString: ""
                          containerName: ""
                          sasTtlAsIso8601: PT1H
                    sku:
                      capacity: 1
                      name: S1
                      tier: Standard
                    tags: {}
                    type: Microsoft.Devices/IotHubs
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkNameAvailability:
    post:
      tags:
        - POST
      summary: Check if an IoT hub name is available
      description: Check if an IoT hub name is available.
      operationId: IotHubResource_CheckNameAvailability
      parameters:
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
        - name: subscriptionId
          in: path
          description: The subscription identifier.
          required: true
          schema:
            type: string
      requestBody:
        description: Set the name parameter in the OperationInputs structure to the
          name of the IoT hub to check.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationInputs'
        required: true
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            response that specifies whether the IoT hub name is available. If the
            name is not available, the body contains the reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubNameAvailabilityInfo'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-examples:
        IotHubResource_CheckNameAvailability:
          parameters:
            api-version: 2019-11-04
            operationInputs:
              name: test-request
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            200:
              body:
                message: ""
                nameAvailable: true
                reason: Invalid
      x-codegen-request-body-name: operationInputs
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/usages:
    get:
      tags:
        - GET
      summary: Get the number of iot hubs in the subscription
      description: Get the number of free and paid iot hubs in the subscription
      operationId: ResourceProviderCommon_GetSubscriptionQuota
      parameters:
        - name: subscriptionId
          in: path
          description: The subscription identifier.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSubscriptionQuotaListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-examples:
        ResourceProviderCommon_GetSubscriptionQuota:
          parameters:
            api-version: 2019-11-04
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            200:
              body:
                value:
                  - currentValue: 1
                    id: /subscription/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/usages/freeHubCount
                    limit: 1
                    name:
                      localizedValue: Free Hub Count
                      value: FreeHubCount
                    type: /subscription/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/usages
                    unit: count
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs:
    get:
      tags:
        - GET
      summary: Get all the IoT hubs in a resource group
      description: Get all the IoT hubs in a resource group.
      operationId: IotHubResource_ListByResourceGroup
      parameters:
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
        - name: subscriptionId
          in: path
          description: The subscription identifier.
          required: true
          schema:
            type: string
        - name: resourceGroupName
          in: path
          description: The name of the resource group that contains the IoT hub.
          required: true
          schema:
            type: string
            x-ms-parameter-location: method
          x-ms-parameter-location: method
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the IoT hubs in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-examples:
        IotHubResource_ListByResourceGroup:
          parameters:
            api-version: 2019-11-04
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            200:
              body:
                value:
                  - etag: AAAAAAFD6M4=
                    id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                    location: centraluseuap
                    name: testHub
                    properties:
                      cloudToDevice:
                        defaultTtlAsIso8601: PT1H
                        feedback:
                          lockDurationAsIso8601: PT1M
                          maxDeliveryCount: 10
                          ttlAsIso8601: PT1H
                        maxDeliveryCount: 10
                      enableFileUploadNotifications: false
                      eventHubEndpoints:
                        events:
                          endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                          partitionCount: 2
                          partitionIds:
                            - "0"
                            - "1"
                          path: iot-dps-cit-hub-1
                          retentionTimeInDays: 1
                      features: None
                      hostName: iot-dps-cit-hub-1.azure-devices.net
                      ipFilterRules: []
                      messagingEndpoints:
                        fileNotifications:
                          lockDurationAsIso8601: PT1M
                          maxDeliveryCount: 10
                          ttlAsIso8601: PT1H
                      provisioningState: Succeeded
                      routing:
                        endpoints:
                          eventHubs: []
                          serviceBusQueues: []
                          serviceBusTopics: []
                          storageContainers: []
                        fallbackRoute:
                          condition: "true"
                          endpointNames:
                            - events
                          isEnabled: true
                          name: $fallback
                          source: DeviceMessages
                        routes: []
                      state: Active
                      storageEndpoints:
                        $default:
                          connectionString: ""
                          containerName: ""
                          sasTtlAsIso8601: PT1H
                    sku:
                      capacity: 1
                      name: S1
                      tier: Standard
                    tags: {}
                    type: Microsoft.Devices/IotHubs
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/failover:
    post:
      tags:
        - POST
      summary: Manually initiate a failover for the IoT Hub to its secondary region
      description: Manually initiate a failover for the IoT Hub to its secondary region.
        To learn more, see https://aka.ms/manualfailover
      operationId: IotHub_ManualFailover
      parameters:
        - name: iotHubName
          in: path
          description: Name of the IoT hub to failover
          required: true
          schema:
            type: string
        - name: subscriptionId
          in: path
          description: The subscription identifier.
          required: true
          schema:
            type: string
        - name: resourceGroupName
          in: path
          description: Name of the resource group containing the IoT hub resource
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
      requestBody:
        description: Region to failover to. Must be the Azure paired region. Get the
          value from the secondary location in the locations property. To learn more,
          see https://aka.ms/manualfailover/region
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FailoverInput'
        required: true
      responses:
        200:
          description: Long running manual failover operation for the IoT hub completed
          content: {}
        202:
          description: Manual failover initiated
          content: {}
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-examples:
        IotHub_ManualFailover:
          parameters:
            api-version: 2019-11-04
            failoverInput:
              failoverRegion: testHub
            iotHubName: testHub
            resourceGroupName: myResourceGroup
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            200: {}
            202: {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: failoverInput
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routing/routes/$testall
  : post:
      tags:
        - POST
      summary: Test all routes
      description: Test all routes configured in this Iot Hub
      operationId: IotHubResource_TestAllRoutes
      parameters:
        - name: iotHubName
          in: path
          description: IotHub to be tested
          required: true
          schema:
            type: string
        - name: subscriptionId
          in: path
          description: The subscription identifier.
          required: true
          schema:
            type: string
        - name: resourceGroupName
          in: path
          description: resource group which Iot Hub belongs to
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
      requestBody:
        description: Input for testing all routes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestAllRoutesInput'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestAllRoutesResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-examples:
        IotHubResource_TestAllRoutes:
          parameters:
            api-version: 2019-11-04
            input:
              message:
                appProperties:
                  key1: value1
                body: Body of message
                systemProperties:
                  key1: value1
              routingSource: DeviceMessages
            iotHubName: testHub
            resourceGroupName: myResourceGroup
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            200:
              body:
                routes:
                  - properties:
                      endpointNames:
                        - id1
                      isEnabled: true
                      name: Routeid
                      source: DeviceMessages
      x-codegen-request-body-name: input
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routing/routes/$testnew
  : post:
        tags:
          - POST
        summary: Test the new route
        description: Test the new route for this Iot Hub
        operationId: IotHubResource_TestRoute
        parameters:
          - name: iotHubName
            in: path
            description: IotHub to be tested
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: resource group which Iot Hub belongs to
            required: true
            schema:
              type: string
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
        requestBody:
          description: Route that needs to be tested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRouteInput'
          required: true
        responses:
          200:
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TestRouteResult'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          IotHubResource_TestRoute:
            parameters:
              api-version: 2019-11-04
              input:
                message:
                  appProperties:
                    key1: value1
                  body: Body of message
                  systemProperties:
                    key1: value1
                route:
                  endpointNames:
                    - id1
                  isEnabled: true
                  name: Routeid
                  source: DeviceMessages
              iotHubName: testHub
              resourceGroupName: myResourceGroup
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  details:
                    compilationErrors:
                      - location:
                          end:
                            column: 24
                            line: 12
                          start:
                            column: 12
                            line: 12
                        message: string response
                        severity: error
                  result: "false"
        x-codegen-request-body-name: input
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routingEndpointsHealth
  : get:
        tags:
          - GET
        summary: Get the health for routing endpoints
        description: Get the health for routing endpoints.
        operationId: IotHubResource_GetEndpointHealth
        parameters:
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            required: true
            schema:
              type: string
          - name: iotHubName
            in: path
            required: true
            schema:
              type: string
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
        responses:
          200:
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EndpointHealthDataListResult'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          IotHubResource_GetEndpointHealth:
            parameters:
              api-version: 2019-11-04
              iotHubName: testHub
              resourceGroupName: myResourceGroup
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  value:
                    - endpointId: id1
                      healthStatus: healthy
                    - endpointId: id2
                      healthStatus: unknown
        x-ms-pageable:
          nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}:
    get:
      tags:
        - GET
      summary: Get the non-security related metadata of an IoT hub
      description: Get the non-security related metadata of an IoT hub.
      operationId: IotHubResource_Get
      parameters:
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
        - name: subscriptionId
          in: path
          description: The subscription identifier.
          required: true
          schema:
            type: string
        - name: resourceGroupName
          in: path
          description: The name of the resource group that contains the IoT hub.
          required: true
          schema:
            type: string
            x-ms-parameter-location: method
          x-ms-parameter-location: method
        - name: resourceName
          in: path
          description: The name of the IoT hub.
          required: true
          schema:
            type: string
            x-ms-parameter-location: method
          x-ms-parameter-location: method
      responses:
        200:
          description: The body contains all the non-security properties of the IoT
            hub. Security-related properties are set to null.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-examples:
        IotHubResource_Get:
          parameters:
            api-version: 2019-11-04
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            200:
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                        - "0"
                        - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  locations:
                    - location: West US
                      role: primary
                    - location: East US
                      role: secondary
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                        - events
                      isEnabled: true
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.Devices/IotHubs
    put:
      tags:
        - PUT
      summary: Create or update the metadata of an IoT hub.
      description: Create or update the metadata of an Iot hub. The usual pattern
        to modify a property is to retrieve the IoT hub metadata and security metadata,
        and then combine them with the modified values in a new body to update the
        IoT hub.
      operationId: IotHubResource_CreateOrUpdate
      parameters:
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
        - name: subscriptionId
          in: path
          description: The subscription identifier.
          required: true
          schema:
            type: string
        - name: resourceGroupName
          in: path
          description: The name of the resource group that contains the IoT hub.
          required: true
          schema:
            type: string
            x-ms-parameter-location: method
          x-ms-parameter-location: method
        - name: resourceName
          in: path
          description: The name of the IoT hub.
          required: true
          schema:
            type: string
            x-ms-parameter-location: method
          x-ms-parameter-location: method
        - name: If-Match
          in: header
          description: ETag of the IoT Hub. Do not specify for creating a brand new
            IoT Hub. Required to update an existing IoT Hub.
          schema:
            type: string
      requestBody:
        description: The IoT hub metadata and security metadata.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IotHubDescription'
        required: true
      responses:
        200:
          description: This is returned as a response to the status polling request
            for the create or update operation. The body contains the resource representation
            that indicates a transitional provisioning state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        201:
          description: This is a long running operation. The operation returns a 201
            if the validation is complete. The response includes an Azure-AsyncOperation
            header that contains a status URL. Clients are expected to poll the status
            URL for the status of the operation. If successful, the operation returns
            HTTP status code of 201 (OK).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-examples:
        IotHubResource_CreateOrUpdate:
          parameters:
            api-version: 2019-11-04
            iotHubDescription:
              etag: AAAAAAFD6M4=
              location: centraluseuap
              properties:
                cloudToDevice:
                  defaultTtlAsIso8601: PT1H
                  feedback:
                    lockDurationAsIso8601: PT1M
                    maxDeliveryCount: 10
                    ttlAsIso8601: PT1H
                  maxDeliveryCount: 10
                enableFileUploadNotifications: false
                eventHubEndpoints:
                  events:
                    partitionCount: 2
                    retentionTimeInDays: 1
                features: None
                ipFilterRules: []
                messagingEndpoints:
                  fileNotifications:
                    lockDurationAsIso8601: PT1M
                    maxDeliveryCount: 10
                    ttlAsIso8601: PT1H
                routing:
                  endpoints:
                    eventHubs: []
                    serviceBusQueues: []
                    serviceBusTopics: []
                    storageContainers: []
                  fallbackRoute:
                    condition: "true"
                    endpointNames:
                      - events
                    isEnabled: true
                    name: $fallback
                    source: DeviceMessages
                  routes: []
                storageEndpoints:
                  $default:
                    connectionString: ""
                    containerName: ""
                    sasTtlAsIso8601: PT1H
              sku:
                capacity: 1
                name: S1
              tags: {}
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            200:
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/ae24ff83-d2ca-4fc8-9717-05dae4bba489/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                        - "0"
                        - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                        - events
                      isEnabled: true
                      name: $fallback
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.Devices/IotHubs
            201:
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/ae24ff83-d2ca-4fc8-9717-05dae4bba489/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                        - "0"
                        - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                        - events
                      isEnabled: true
                      name: $fallback
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.Devices/IotHubs
      x-ms-long-running-operation: true
      x-codegen-request-body-name: iotHubDescription
    delete:
      tags:
        - DELETE
      summary: Delete an IoT hub
      description: Delete an IoT hub.
      operationId: IotHubResource_Delete
      parameters:
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
        - name: subscriptionId
          in: path
          description: The subscription identifier.
          required: true
          schema:
            type: string
        - name: resourceGroupName
          in: path
          description: The name of the resource group that contains the IoT hub.
          required: true
          schema:
            type: string
            x-ms-parameter-location: method
          x-ms-parameter-location: method
        - name: resourceName
          in: path
          description: The name of the IoT hub.
          required: true
          schema:
            type: string
            x-ms-parameter-location: method
          x-ms-parameter-location: method
      responses:
        200:
          description: This is returned as a response to the status polling request
            for the delete operation. The body contains the resource representation
            that indicates a transitional provisioning state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        202:
          description: The Iot Hub resource provider always returns a 202 Accepted
            status code with valid Location and Retry-After headers. The resource
            provider also sets the Azure-AsyncOperation header with a URL that points
            to the operation resource for this operation. Subsequent GET attempts
            on the resource after a DELETE operation return a resource representation
            that indicates a transitional provisioning state (such as Terminating).
            To retrieve the status of the operation, a client can either poll the
            URL returned in the Location header after the Retry-After interval, get
            the IoT Hub service status directly, or query the operation resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        204:
          description: Once the long running delete operation completes successfully,
            a 204 No Content status code is returned when the status polling request
            finds the Iot hub metadata in the service and the status of the delete
            operation is set to a completed state.
          content: {}
        404:
          description: After the long running delete operation completes successfully,
            a 404 Not Found is returned when the status polling request no longer
            finds the Iot hub metadata in the service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-examples:
        IotHubResource_Delete:
          parameters:
            api-version: 2019-11-04
            resourceGroupName: myResourceGroup
            resourceName: testHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
          responses:
            200:
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                        - "0"
                        - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                        - events
                      isEnabled: true
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.Devices/IotHubs
            202:
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                        - "0"
                        - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                        - events
                      isEnabled: true
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags: {}
                type: Microsoft.Devices/IotHubs
            204: {}
            404:
              body: {}
      x-ms-long-running-operation: true
    patch:
      tags:
        - PATCH
      summary: Update an existing IoT Hubs tags.
      description: Update an existing IoT Hub tags. to update other fields use the
        CreateOrUpdate method
      operationId: IotHubResource_Update
      parameters:
        - name: subscriptionId
          in: path
          description: The subscription identifier.
          required: true
          schema:
            type: string
        - name: resourceGroupName
          in: path
          description: Resource group identifier.
          required: true
          schema:
            type: string
        - name: resourceName
          in: path
          description: Name of iot hub to update.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          description: The version of the API.
          required: true
          schema:
            type: string
      requestBody:
        description: Updated tag information to set into the iot hub instance.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsResource'
        required: true
      responses:
        200:
          description: Iot Hub was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
      x-ms-examples:
        IotHubResource_Update:
          parameters:
            IotHubTags:
              tags:
                foo: bar
            api-version: 2019-11-04
            location: East US
            resourceGroupName: myResourceGroup
            resourceName: myHub
            subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            type: Microsoft.Devices/IotHubs
          responses:
            200:
              body:
                etag: AAAAAAFD6M4=
                id: /subscriptions/ae24ff83-d2ca-4fc8-9717-05dae4bba489/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/testHub
                location: centraluseuap
                name: testHub
                properties:
                  cloudToDevice:
                    defaultTtlAsIso8601: PT1H
                    feedback:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                    maxDeliveryCount: 10
                  enableFileUploadNotifications: false
                  eventHubEndpoints:
                    events:
                      endpoint: sb://iothub-ns-iot-dps-ci-245306-76aca8e13b.servicebus.windows.net/
                      partitionCount: 2
                      partitionIds:
                        - "0"
                        - "1"
                      path: iot-dps-cit-hub-1
                      retentionTimeInDays: 1
                  features: None
                  hostName: iot-dps-cit-hub-1.azure-devices.net
                  ipFilterRules: []
                  messagingEndpoints:
                    fileNotifications:
                      lockDurationAsIso8601: PT1M
                      maxDeliveryCount: 10
                      ttlAsIso8601: PT1H
                  provisioningState: Succeeded
                  routing:
                    endpoints:
                      eventHubs: []
                      serviceBusQueues: []
                      serviceBusTopics: []
                      storageContainers: []
                    fallbackRoute:
                      condition: "true"
                      endpointNames:
                        - events
                      isEnabled: true
                      name: $fallback
                      source: DeviceMessages
                    routes: []
                  state: Active
                  storageEndpoints:
                    $default:
                      connectionString: ""
                      containerName: ""
                      sasTtlAsIso8601: PT1H
                sku:
                  capacity: 1
                  name: S1
                  tier: Standard
                tags:
                  foo: bar
                type: Microsoft.Devices/IotHubs
      x-ms-long-running-operation: true
      x-codegen-request-body-name: IotHubTags
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubKeys/{keyName}/listkeys
  : post:
        tags:
          - POST
        summary: 'Get a shared access policy by name from an IoT hub. For more information,
        see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security'
        description: 'Get a shared access policy by name from an IoT hub. For more information,
        see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.'
        operationId: IotHubResource_GetKeysForKeyName
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: keyName
            in: path
            description: The name of the shared access policy.
            required: true
            schema:
              type: string
        responses:
          200:
            description: This is a synchronous operation. The body contains a JSON-serialized
              shared access policy, including keys, that you can use to access one or
              more IoT hub endpoints.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          IotHubResource_GetKeysForKeyName:
            parameters:
              api-version: 2019-11-04
              keyName: iothubowner
              resourceGroupName: myResourceGroup
              resourceName: testHub
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  keyName: iothubowner
                  primaryKey: 2aWPrKloLLdcug12ZHNpA0e07yJmRRmYMXDLpEOTd/Y=
                  rights: RegistryWrite, ServiceConnect, DeviceConnect
                  secondaryKey: DLyFnDTGMDK0BU2QjT5TCkNBQ4h08mi20vOqWMC7TxU=
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubStats
  : get:
        tags:
          - GET
        summary: Get the statistics from an IoT hub
        description: Get the statistics from an IoT hub.
        operationId: IotHubResource_GetStats
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
        responses:
          200:
            description: This is a synchronous operation. The body contains JSON-serialized
              statistics from the identity registry in the IoT hub.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RegistryStatistics'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          IotHubResource_GetStats:
            parameters:
              api-version: 2018-04-01
              resourceGroupName: myResourceGroup
              resourceName: testHub
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  disabledDeviceCount: 0
                  enabledDeviceCount: 0
                  totalDeviceCount: 0
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates
  : get:
        tags:
          - Certificates
        summary: Get the certificate list.
        description: Returns the list of certificates.
        operationId: Certificates_ListByIotHub
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
        responses:
          200:
            description: The body contains all the certificate list.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CertificateListDescription'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          Certificates_ListByIotHub:
            parameters:
              api-version: 2019-11-04
              resourceGroupName: myResourceGroup
              resourceName: testhub
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  value:
                    - etag: AAAAAAExpNs=
                      id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/andbuc-hub/certificates/cert
                      name: cert
                      properties:
                        created: Thu, 12 Oct 2017 19:23:50 GMT
                        expiry: Sat, 31 Dec 2039 23:59:59 GMT
                        isVerified: false
                        subject: CN=testdevice1
                        thumbprint: 97388663832D0393C9246CAB4FBA2C8677185A25
                        updated: Thu, 12 Oct 2017 19:23:50 GMT
                      type: Microsoft.Devices/IotHubs/Certificates
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}
  : get:
        tags:
          - Certificates
        summary: Get the certificate.
        description: Returns the certificate.
        operationId: Certificates_Get
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: certificateName
            in: path
            description: The name of the certificate
            required: true
            schema:
              pattern: ^[A-Za-z0-9-._]{1,64}$
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
        responses:
          200:
            description: The body contains the certificate.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CertificateDescription'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          Certificates_Get:
            parameters:
              api-version: 2019-11-04
              certificateName: cert
              resourceGroupName: myResourceGroup
              resourceName: testhub
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  etag: AAAAAAExpNs=
                  id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/IotHubs/andbuc-hub/certificates/cert
                  name: cert
                  properties:
                    created: Thu, 12 Oct 2017 19:23:50 GMT
                    expiry: Sat, 31 Dec 2039 23:59:59 GMT
                    isVerified: false
                    subject: CN=testdevice1
                    thumbprint: 97388663832D0393C9246CAB4FBA2C8677185A25
                    updated: Thu, 12 Oct 2017 19:23:50 GMT
                  type: Microsoft.Devices/IotHubs/Certificates
    put:
        tags:
          - Certificates
        summary: Upload the certificate to the IoT hub.
        description: Adds new or replaces existing certificate.
        operationId: Certificates_CreateOrUpdate
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: certificateName
            in: path
            description: The name of the certificate
            required: true
            schema:
              pattern: ^[A-Za-z0-9-._]{1,64}$
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: If-Match
            in: header
            description: ETag of the Certificate. Do not specify for creating a brand
              new certificate. Required to update an existing certificate.
            schema:
              type: string
        requestBody:
          description: The certificate body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateBodyDescription'
          required: true
        responses:
          200:
            description: If certificate already exist and update was successful, the
              operation returns HTTP status code of 201 (OK).
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CertificateDescription'
          201:
            description: If certificate didn't exist creation was successful, the operation
              returns HTTP status code of 201 (OK).
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CertificateDescription'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          Certificates_CreateOrUpdate:
            parameters:
              api-version: 2019-11-04
              certificateDescription:
                certificate: '############################################'
              certificateName: cert
              resourceGroupName: myResourceGroup
              resourceName: iothub
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  etag: AAAAAAExpNs=
                  id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/ProvisioningServives/myFirstProvisioningService/certificates/cert
                  name: cert
                  properties:
                    created: Thu, 12 Oct 2017 19:23:50 GMT
                    expiry: Sat, 31 Dec 2039 23:59:59 GMT
                    isVerified: false
                    subject: CN=testdevice1
                    thumbprint: 97388663832D0393C9246CAB4FBA2C8677185A25
                    updated: Thu, 12 Oct 2017 19:23:50 GMT
                  type: Microsoft.Devices/IotHubs/Certificates
              201:
                body:
                  etag: AAAAAAExpNs=
                  id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/ProvisioningServives/myFirstProvisioningService/certificates/cert
                  name: cert
                  properties:
                    created: Thu, 12 Oct 2017 19:23:50 GMT
                    expiry: Sat, 31 Dec 2039 23:59:59 GMT
                    isVerified: false
                    subject: CN=testdevice1
                    thumbprint: 97388663832D0393C9246CAB4FBA2C8677185A25
                    updated: Thu, 12 Oct 2017 19:23:50 GMT
                  type: Microsoft.Devices/IotHubs/Certificates
        x-codegen-request-body-name: certificateDescription
    delete:
        tags:
          - Certificates
        summary: Delete an X509 certificate.
        description: Deletes an existing X509 certificate or does nothing if it does
          not exist.
        operationId: Certificates_Delete
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: certificateName
            in: path
            description: The name of the certificate
            required: true
            schema:
              pattern: ^[A-Za-z0-9-._]{1,64}$
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: If-Match
            in: header
            description: ETag of the Certificate.
            required: true
            schema:
              type: string
        responses:
          200:
            description: Certificate has been deleted.
            content: {}
          204:
            description: Certificate does not exist.
            content: {}
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          Certificates_Delete:
            parameters:
              If-Match: AAAAAAAADGk=
              api-version: 2019-11-04
              certificateName: cert
              resourceGroupName: myResourceGroup
              resourceName: myhub
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200: {}
              204: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/generateVerificationCode
  : post:
        tags:
          - Certificates
        summary: Generate verification code for proof of possession flow.
        description: Generates verification code for proof of possession flow. The verification
          code will be used to generate a leaf certificate.
        operationId: Certificates_GenerateVerificationCode
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: certificateName
            in: path
            description: The name of the certificate
            required: true
            schema:
              pattern: ^[A-Za-z0-9-._]{1,64}$
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: If-Match
            in: header
            description: ETag of the Certificate.
            required: true
            schema:
              type: string
        responses:
          200:
            description: The body contains the certificate.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CertificateWithNonceDescription'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          Certificates_GenerateVerificationCode:
            parameters:
              If-Match: AAAAAAAADGk=
              api-version: 2019-11-04
              certificateName: cert
              resourceGroupName: myResourceGroup
              resourceName: testHub
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  name: cert
                  properties:
                    created: Thu, 12 Oct 2017 19:23:50 GMT
                    expiry: Sat, 31 Dec 2039 23:59:59 GMT
                    isVerified: false
                    subject: CN=andbucdevice1
                    thumbprint: '##############################'
                    updated: Thu, 12 Oct 2017 19:26:56 GMT
                    verificationCode: '##################################'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/verify
  : post:
        tags:
          - Certificates
        summary: Verify certificate's private key possession.
        description: Verifies the certificate's private key possession by providing
          the leaf cert issued by the verifying pre uploaded certificate.
        operationId: Certificates_Verify
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: certificateName
            in: path
            description: The name of the certificate
            required: true
            schema:
              pattern: ^[A-Za-z0-9-._]{1,64}$
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: If-Match
            in: header
            description: ETag of the Certificate.
            required: true
            schema:
              type: string
        requestBody:
          description: The name of the certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateVerificationDescription'
          required: true
        responses:
          200:
            description: The body contains the certificate.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CertificateDescription'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          Certificates_Verify:
            parameters:
              If-Match: AAAAAAAADGk=
              api-version: 2019-11-04
              certificateName: cert
              certificateVerificationBody:
                certificate: '#####################################'
              resourceGroupName: myResourceGroup
              resourceName: myFirstProvisioningService
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  etag: AAAAAAExpTQ=
                  id: /subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/myResourceGroup/providers/Microsoft.Devices/ProvisioningServices/myFirstProvisioningService/certificates/cert
                  name: cert
                  properties:
                    created: Thu, 12 Oct 2017 19:23:50 GMT
                    expiry: Sat, 31 Dec 2039 23:59:59 GMT
                    isVerified: true
                    subject: CN=andbucdevice1
                    thumbprint: 97388663832D0393C9246CAB4FBA2C8677185A25
                    updated: Thu, 12 Oct 2017 19:26:56 GMT
                  type: Microsoft.Devices/IotHubs/Certificates
        x-codegen-request-body-name: certificateVerificationBody
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups
  : get:
        tags:
          - GET
        summary: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud
          endpoint in an IoT hub
        description: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud
          endpoint in an IoT hub.
        operationId: IotHubResource_ListEventHubConsumerGroups
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: eventHubEndpointName
            in: path
            description: The name of the Event Hub-compatible endpoint.
            required: true
            schema:
              type: string
        responses:
          200:
            description: This is a synchronous operation. The body contains a JSON-serialized
              list of the consumer groups in the Event Hub-compatible endpoint in this
              IoT hub
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EventHubConsumerGroupsListResult'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          IotHubResource_ListEventHubConsumerGroups:
            parameters:
              api-version: 2019-11-04
              eventHubEndpointName: events
              resourceGroupName: myResourceGroup
              resourceName: testHub
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  value:
                    - etag: AAAAAAFD6M4=
                      id: /subscriptions/cmd-sub-1/resourceGroups/cmd-rg-1/providers/Microsoft.Devices/IotHubs/test-hub-2/eventHubEndpoints/events/ConsumerGroups/%24Default
                      name: $Default
                      properties:
                        created: Thu, 15 Jun 2017 19:20:58 GMT
                      type: Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups
        x-ms-pageable:
          nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{name}
  : get:
        tags:
          - GET
        summary: Get a consumer group from the Event Hub-compatible device-to-cloud
          endpoint for an IoT hub
        description: Get a consumer group from the Event Hub-compatible device-to-cloud
          endpoint for an IoT hub.
        operationId: IotHubResource_GetEventHubConsumerGroup
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: eventHubEndpointName
            in: path
            description: The name of the Event Hub-compatible endpoint in the IoT hub.
            required: true
            schema:
              type: string
          - name: name
            in: path
            description: The name of the consumer group to retrieve.
            required: true
            schema:
              type: string
        responses:
          200:
            description: This is a synchronous operation. The body contains a JSON-serialized
              consumer group.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EventHubConsumerGroupInfo'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          IotHubResource_ListEventHubConsumerGroups:
            parameters:
              api-version: 2019-11-04
              eventHubEndpointName: events
              name: test
              resourceGroupName: myResourceGroup
              resourceName: testHub
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  etag: AAAAAAFD6M4=
                  id: /subscriptions/cmd-sub-1/resourceGroups/cmd-rg-1/providers/Microsoft.Devices/IotHubs/test-hub-2/eventHubEndpoints/events/ConsumerGroups/%24Default
                  name: test
                  properties:
                    created: Thu, 15 Jun 2017 19:20:58 GMT
                  type: Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups
    put:
        tags:
          - PUT
        summary: Add a consumer group to an Event Hub-compatible endpoint in an IoT
          hub
        description: Add a consumer group to an Event Hub-compatible endpoint in an
          IoT hub.
        operationId: IotHubResource_CreateEventHubConsumerGroup
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: eventHubEndpointName
            in: path
            description: The name of the Event Hub-compatible endpoint in the IoT hub.
            required: true
            schema:
              type: string
          - name: name
            in: path
            description: The name of the consumer group to add.
            required: true
            schema:
              type: string
        responses:
          200:
            description: This is a synchronous operation.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EventHubConsumerGroupInfo'
          default:
            description: DefaultErrorResponse
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorDetails'
        deprecated: false
        x-ms-examples:
          IotHubResource_CreateEventHubConsumerGroup:
            parameters:
              api-version: 2019-11-04
              eventHubEndpointName: events
              name: test
              resourceGroupName: myResourceGroup
              resourceName: testHub
              subscriptionId: 91d12660-3dec-467a-be2a-213b5544ddc0
            responses:
              200:
                body:
                  etag: AAAAAAFD6M4=
                  id: /subscriptions/cmd-sub-1/resourceGroups/cmd-rg-1/providers/Microsoft.Devices/IotHubs/test-hub-2/eventHubEndpoints/events/ConsumerGroups/%24Default
                  name: test
                  properties:
                    created: Thu, 15 Jun 2017 19:20:58 GMT
                  type: Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups
    delete:
        tags:
          - DELETE
        summary: Delete a consumer group from an Event Hub-compatible endpoint in an
          IoT hub
        description: Delete a consumer group from an Event Hub-compatible endpoint in
          an IoT hub.
        operationId: IotHubResource_DeleteEventHubConsumerGroup
        parameters:
          - name: api-version
            in: query
            description: The version of the API.
            required: true
            schema:
              type: string
          - name: subscriptionId
            in: path
            description: The subscription identifier.
            required: true
            schema:
              type: string
          - name: resourceGroupName
            in: path
            description: The name of the resource group that contains the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
            x-ms-parameter-location: method
          - name: resourceName
            in: path
            description: The name of the IoT hub.
            required: true
            schema:
              type: string
              x-ms-parameter-location: method
[...]
