openapi: 3.0.1
info:
  title: OpenWeather Map API for Query parameter
  description: >-
    Get current weather, daily forecast for 16 days, and 3-hourly forecast 5
    days for your city.
  version: 1.0.0-oas3
  x-ballerina-display:
    label: Open Weather Client
servers:
  - url: 'http://api.openweathermap.org/data/2.5/'
paths:
  /onecall:
    get:
      tags:
        - Weather Forecast
      summary: Provide weather forecast for any geographical coordinates
      description: test
      operationId: getWeatherForecast
      parameters:
        - description: Filters on the list of people returned based on the person's relationship to the account's
          in: query
          name: relationship
          required: false
          schema:
            properties:
              director:
                type: boolean
              executive:
                type: boolean
              owner:
                type: boolean
              representative:
                type: boolean
            title: all_people_relationship_specs
            type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherForecast'
        '404':
          description: Not found response
          content:
            text/plain:
              schema:
                title: Weather not found
                type: string
                example: Not found
security:
  - app_id: []
tags:
  - name: Current Weather Data
    description: Get current weather details
  - name: Weather Forecast
    description: Get data related to weather forecast
components:
  schemas:
    WeatherForecast:
      type: object
      properties:
        lat:
          type: number
        lon:
          type: number
  securitySchemes:
    app_id:
      type: apiKey
      description: API key.
      name: appid
      in: query