openapi: 3.0.0
info:
  version: 1.0.0
  title: World Bank Indicator API
  description: Here you can find documentation for COVID-19 REST API.
servers:
  - description: Indicators represent data like total population, gross national income, energy use, and many more
    url: http://api.worldbank.org/v2/
paths:
  /country/all/indicator/SP.POP.TOTL:
    get:
      tags: ["Data for all countries"]
      description: Returns information about total popultion of the world
      operationId: getWorldPopulation
      parameters:
        - name: date
          in: query
          description: Date-range by year, month or quarter that scopes the result-set.
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Format of the response.
          required: false
          schema:
            type: string
            default: json
      responses:
        '200':
          description: A list of population across world
          content:
            application/json:
              schema:
                type: array
                items: {
                  "$ref": "#/components/schemas/Countries"
                }
  /country/{country_name}/indicator/DPANUSSPB:
    get:
      tags: ["GDP data of a given country"]
      description: Returns GDP information of the given country in the given date
      operationId: getGDPBycountry
      parameters:
        - name: date
          in: query
          description: Date-range by year, month or quarter that scopes the result-set.
          required: true
          schema:
            type: string
        - name: country_name
          in: path
          description: Date-range by year, month or quarter that scopes the result-set.
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Format of the response.
          required: false
          schema:
            type: string
            default: json
      responses:
        '200':
          description: List GDP information of each year
          content:
            application/json:
              schema:
                type: array
                items: {
                  "$ref": "#/components/schemas/Countries"
                }
components:
  schemas:
    Indicator:
      type: object
      properties:
        id:
          type: string
          example: SP.POP.TOTL
        value:
          type: string
          example: Population, total

    Countries:
      type: array
      items:
        $ref: "#/components/schemas/Indicator"

    Error:
      type: object
      properties:
        name:
          type: string
