openapi: 3.0.0
servers:
  - url: https://api.nytimes.com/svc/suggest/v1
info:
  description: With the TimesTags API, you can mine the riches of the New York Times tag set. The TimesTags service matches your query to the controlled vocabularies that fuel NYTimes.com metadata. You supply a string of characters, and the service returns a ranked list of suggested terms.
  termsOfService: http://developer.nytimes.com/tou
  title: TimesTags API
  version: 1.0.0
security:
  - apikey: []
paths:
  /timestags:
    get:
      operationId: getTimesTags
      parameters:
        - description: Your search query
          in: query
          name: query
          required: true
          schema:
            type: string
        - description: Add filters
          in: query
          name: filter
          required: false
          schema:
            enum:
              - Des
              - Geo
              - Org
              - Per
            type: string
        - description: Sets the maximum number of results
          in: query
          name: max
          required: false
          schema:
            default: 10
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  items:
                    type: string
                  type: array
                type: array
          description: An array of tags
components:
  securitySchemes:
    apikey:
      in: query
      name: api-key
      type: apiKey
      description: Log in to https://api.nytimes.com/svc/suggest/v1 and get the api key
