openapi: 3.0.0
info:
  title: Uber API
  description: Move your app forward with the Uber API
  version: 1.0.0
servers:
  - url: https://api.uber.com/v1
paths:
  /products:
    get:
      summary: Product Types
      description: The Products endpoint returns information about the Uber products
        offered at a given location. The response includes the display name and
        other details about each product, and lists the products in the proper
        display order.
      tags:
        - Products
      responses:
        "200":
          description: An array of products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /jsonproducts:
    get:
      summary: Product Types
      description: The Products endpoint returns information about the Uber products
        offered at a given location. The response includes the display name and
        other details about each product, and lists the products in the proper
        display order.
      tags:
        - Products
      responses:
        "200":
          description: An array of products
          content:
            application/json:
              schema:
                {}
  /xmlproducts:
    get:
      summary: Product Types
      description: The Products endpoint returns information about the Uber products
        offered at a given location. The response includes the display name and
        other details about each product, and lists the products in the proper
        display order.
      tags:
        - Products
      responses:
        "200":
          description: An array of products
          content:
            application/xml:
              schema:
                {}
  /xmlarrayproducts:
    get:
      summary: Product Types
      description: The Products endpoint returns information about the Uber products
        offered at a given location. The response includes the display name and
        other details about each product, and lists the products in the proper
        display order.
      tags:
        - Products
      responses:
        "200":
          description: An array of products
          content:
            application/xml:
              schema:
                type: array
                items: {}
  /stringproducts/record:
    get:
      summary: Product Types
      description: The Products endpoint returns information about the Uber products
        offered at a given location. The response includes the display name and
        other details about each product, and lists the products in the proper
        display order.
      tags:
        - Products
      responses:
        "200":
          description: An array of products
          content:
            image/png:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    apikey:
      type: apiKey
      name: server_token
      in: query
  schemas:
    Product:
      properties:
        product_id:
          type: string
          description: Unique identifier representing a specific product for a given
            latitude & longitude. For example, uberX in San Francisco will have
            a different product_id than uberX in Los Angeles.
        description:
          type: string
          description: Description of product.
        display_name:
          type: string
          description: Display name of product.
        capacity:
          type: integer
          description: Capacity of product. For example, 4 people.
        image:
          type: string
          description: Image URL representing the product.
    ProductList:
      properties:
        products:
          description: Contains the list of products
          type: array
          items:
            $ref: "#/components/schemas/Product"
    PriceEstimate:
      properties:
        product_id:
          type: string
          description: Unique identifier representing a specific product for a given
            latitude & longitude. For example, uberX in San Francisco will have
            a different product_id than uberX in Los Angeles
        currency_code:
          type: string
          description: "[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code."
        display_name:
          type: string
          description: Display name of product.
        estimate:
          type: string
          description: Formatted string of estimate in local currency of the start
            location. Estimate could be a range, a single number (flat rate) or
            "Metered" for TAXI.
        low_estimate:
          type: number
          description: Lower bound of the estimated price.
        high_estimate:
          type: number
          description: Upper bound of the estimated price.
        surge_multiplier:
          type: number
          description: Expected surge multiplier. Surge is active if surge_multiplier is
            greater than 1. Price estimate already factors in the surge
            multiplier.
    Profile:
      properties:
        first_name:
          type: string
          description: First name of the Uber user.
        last_name:
          type: string
          description: Last name of the Uber user.
        email:
          type: string
          description: Email address of the Uber user
        picture:
          type: string
          description: Image URL of the Uber user.
        promo_code:
          type: string
          description: Promo code of the Uber user.
    Activity:
      properties:
        uuid:
          type: string
          description: Unique identifier for the activity
    Activities:
      properties:
        offset:
          type: integer
          format: int32
          description: Position in pagination.
        limit:
          type: integer
          format: int32
          description: Number of items to retrieve (100 max).
        count:
          type: integer
          format: int32
          description: Total number of items available.
        history:
          type: array
          items:
            $ref: "#/components/schemas/Activity"
    Error:
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        fields:
          type: string
