openapi: 3.0.0
info:
  title: Uber API
  description: Move your app forward with the Uber API
  version: 1.0.0
servers:
  - url: https://api.uber.com/v1
paths:
  /xmlarrayproducts:
    get:
      summary: Product Types
      operationId: getProducts
      description: The Products endpoint returns information about the Uber products
        offered at a given location.
      tags:
        - Products
      parameters:
        - in: query
          name: subscription_default_tax_rates
          required: false
          schema:
            anyOf:
              - items:
                  maxLength: 5000
                  type: string
                type: array
              - enum:
                  - ''
                type: string
          style: deepObject
      responses:
        "200":
          description: An array of products
          content:
            application/xml:
              schema:
                type: array
                items: {}
components:
  schemas:
    User:
      properties:
        first_name:
          type: string
          description: First name of the Uber user.
        last_name:
          type: string
          description: Last name of the Uber user.
        tax_rates:
          anyOf:
            - items:
                maxLength: 5000
                type: string
              type: array
            - enum:
                - ''
              type: string
    Activity:
      properties:
        uuid:
          type: string
          description: Unique identifier for the activity
    Activities:
      properties:
        offset:
          type: integer
          format: int32
          description: Position in pagination.
        history:
          type: array
          items:
            $ref: "#/components/schemas/Activity"
    AnyOF:
      anyOf:
        - $ref: '#/components/schemas/User'
        - $ref: '#/components/schemas/Activity'