openapi: 3.0.0
servers:
  - url: http://api.nytimes.com/svc/movies/v2
info:
  description: >
    With the Movie Reviews API, you can search New York Times movie reviews by keyword and get lists of NYT Critics' Picks. This is a feature given by new york times.

    Please visit [NYTimes](https://developer.nytimes.com/accounts/login) for more details

  termsOfService: http://developer.nytimes.com/tou
  title: Movie Reviews API
  version: 2.0.0
  x-init-description: >
    Client initialization required API credentials and service URL.

    The service URL may set to the default value. You can override if required.

    Create [NYTimes](https://developer.nytimes.com/accounts/login) Developer Account.

    Log into NYTimes Developer Portal by visiting https://developer.nytimes.com/accounts/login.

    Register an app and obtain the API Key following the process summarized [here](https://developer.nytimes.com/get-started).
paths:
  "/":
    get:
      operationId: criticsPicks
      summary: Get movie reviews that are critics' picks. You can either specify the reviewer name or use "all", "full-time", or "part-time".
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  copyright:
                    type: string
                  num_results:
                    type: integer
                  status:
                    type: string
                type: object
          description: An array of Movie Critics