openapi: 3.0.0
servers:
  - url: http://api.sendgrid.com/v3
  - url: https://api.sendgrid.com/v3
info:
  description: Client endpoint for Sendgrid API
  title: SendGrid v3 API DocCommentsGenerator
  version: "3.0"
externalDocs:
  url: https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html
paths:
  /mail/send:
    post:
      description: >-
        This endpoint allows you to send email over SendGrid’s v3 Web API,
        the most recent version of our API. If you are looking for documentation
        about the v2 Mail Send endpoint, please see our [v2 API
        Reference](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).


        * Top level parameters are referred to as "global".

        * Individual fields within the personalizations array will override any other global, or “message level”, parameters that are defined outside of personalizations.

        **SendGrid provides libraries to help you quickly and easily integrate with the v3 Web API in 7 different languages: [C#](https://github.com/sendgrid/sendgrid-csharp), [Go](https://github.com/sendgrid/sendgrid-go), [Java](https://github.com/sendgrid/sendgrid-java), [Node JS](https://github.com/sendgrid/sendgrid-nodejs), [PHP](https://github.com/sendgrid/sendgrid-php), [Python](https://github.com/sendgrid/sendgrid-python), and [Ruby](https://github.com/sendgrid/sendgrid-ruby).**



        For more detailed information about how to use the v3 Mail Send endpoint, please visit our [Classroom](https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/index.html).
      operationId: POST_mail-send
      requestBody:
        content:
          application/json:
            schema:
              example:
                content:
                  - type: text/html
                    value: <html><p>Hello, world!</p></html>
                from:
                  email: sam.smith@example.com
                  name: Sam Smith
                personalizations:
                  - subject: Hello, World!
                    to:
                      - email: john.doe@example.com
                        name: John Doe
                reply_to:
                  email: sam.smith@example.com
                  name: Sam Smith
                subject: Hello, World!
              properties:
                asm:
                  description: An object allowing you to specify how to handle unsubscribes.
                  properties:
                    group_id:
                      description: The unsubscribe group to associate with this email.
                      type: integer
                    groups_to_display:
                      description: An array containing the unsubscribe groups that you would like to
                        be displayed on the unsubscribe preferences page.
                      items:
                        type: integer
                      maxItems: 25
                      type: array
                  required:
                    - group_id
                  type: object
                attachments:
                  description: An array of objects in which you can specify any attachments you
                    want to include.
                  items:
                    properties:
                      content:
                        description: The Base64 encoded content of the attachment.
                        minLength: 1
                        type: string
                      content_id:
                        description: The content id for the attachment. This is used when the
                          disposition is set to “inline” and the attachment is
                          an image, allowing the file to be displayed within the
                          body of your email.
                        type: string
                      disposition:
                        default: attachment
                        description: The content-disposition of the attachment specifying how you would
                          like the attachment to be displayed. For example,
                          “inline” results in the attached file being displayed
                          automatically within the message while “attachment”
                          results in the attached file requiring some action to
                          be taken before it is displayed (e.g. opening or
                          downloading the file).
                        enum:
                          - inline
                          - attachment
                        type: string
                      filename:
                        description: The filename of the attachment.
                        type: string
                      type:
                        description: The mime type of the content you are attaching. For example,
                          “text/plain” or “text/html”.
                        minLength: 1
                        type: string
                    required:
                      - content
                      - filename
                    type: object
                  type: array
                batch_id:
                  description: "This ID represents a batch of emails to be sent at the same time.
                    Including a batch_id in your request allows you include this
                    email in that batch, and also enables you to cancel or pause
                    the delivery of that batch. For more information, see
                    https://sendgrid.com/docs/API_Reference/Web_API_v3/cancel_s\
                    chedule_send.html "
                  type: string
                categories:
                  description: "An array of category names for this message. Each category name
                    may not exceed 255 characters. "
                  items:
                    maxLength: 255
                    type: string
                  maxItems: 10
                  type: array
                  uniqueItems: true
                content:
                  description: An array in which you may specify the content of your email. You
                    can include multiple mime types of content, but you must
                    specify at least one mime type. To include more than one
                    mime type, simply add another object to the array containing
                    the `type` and `value` parameters.
                  items:
                    properties:
                      type:
                        description: The mime type of the content you are including in your email. For
                          example, “text/plain” or “text/html”.
                        minLength: 1
                        type: string
                      value:
                        description: The actual content of the specified mime type that you are
                          including in your email.
                        minLength: 1
                        type: string
                    required:
                      - type
                      - value
                    type: object
                  type: array
                custom_args:
                  description: Values that are specific to the entire send that will be carried
                    along with the email and its activity data. Substitutions
                    will not be made on custom arguments, so any string that is
                    entered into this parameter will be assumed to be the custom
                    argument that you would like to be used. This parameter is
                    overridden by personalizations[x].custom_args if that
                    parameter has been defined. Total custom args size may not
                    exceed 10,000 bytes.
                  type: object
                from:
                  $ref: "#/components/schemas/email_object"
                headers:
                  description: An object containing key/value pairs of header names and the value
                    to substitute for them. You must ensure these are properly
                    encoded if they contain unicode characters. Must not be one
                    of the reserved headers.
                  type: object
                ip_pool_name:
                  description: The IP Pool that you would like to send this email from.
                  maxLength: 64
                  minLength: 2
                  type: string
                mail_settings:
                  description: A collection of different mail settings that you can use to specify
                    how you would like this email to be handled.
                  properties:
                    bcc:
                      description: This allows you to have a blind carbon copy automatically sent to
                        the specified email address for every email that is
                        sent.
                      properties:
                        email:
                          description: The email address that you would like to receive the BCC.
                          format: email
                          type: string
                        enable:
                          description: Indicates if this setting is enabled.
                          type: boolean
                      type: object
                    bypass_list_management:
                      description: Allows you to bypass all unsubscribe groups and suppressions to
                        ensure that the email is delivered to every single
                        recipient. This should only be used in emergencies when
                        it is absolutely necessary that every recipient receives
                        your email.
                      properties:
                        enable:
                          description: Indicates if this setting is enabled.
                          type: boolean
                      type: object
                    footer:
                      description: The default footer that you would like included on every email.
                      properties:
                        enable:
                          description: Indicates if this setting is enabled.
                          type: boolean
                        html:
                          description: The HTML content of your footer.
                          type: string
                        text:
                          description: The plain text content of your footer.
                          type: string
                      type: object
                    sandbox_mode:
                      description: This allows you to send a test email to ensure that your request
                        body is valid and formatted correctly.
                      properties:
                        enable:
                          description: Indicates if this setting is enabled.
                          type: boolean
                      type: object
                    spam_check:
                      description: This allows you to test the content of your email for spam.
                      properties:
                        enable:
                          description: Indicates if this setting is enabled.
                          type: boolean
                        post_to_url:
                          description: An Inbound Parse URL that you would like a copy of your email along
                            with the spam report to be sent to.
                          type: string
                        threshold:
                          description: The threshold used to determine if your content qualifies as spam
                            on a scale from 1 to 10, with 10 being most strict,
                            or most likely to be considered as spam.
                          maximum: 10
                          minimum: 1
                          type: integer
                      type: object
                  type: object
                personalizations:
                  description: An array of messages and their metadata. Each object within
                    personalizations can be thought of as an envelope - it
                    defines who should receive an individual message and how
                    that message should be handled.
                  items:
                    properties:
                      bcc:
                        description: An array of recipients who will receive a blind carbon copy of your
                          email. Each object within this array may contain the
                          name, but must always contain the email, of a
                          recipient.
                        items:
                          $ref: "#/components/schemas/email_object"
                        maxItems: 1000
                        type: array
                      cc:
                        description: An array of recipients who will receive a copy of your email. Each
                          object within this array may contain the name, but
                          must always contain the email, of a recipient.
                        items:
                          $ref: "#/components/schemas/email_object"
                        maxItems: 1000
                        type: array
                      custom_args:
                        description: Values that are specific to this personalization that will be
                          carried along with the email and its activity data.
                          Substitutions will not be made on custom arguments, so
                          any string that is entered into this parameter will be
                          assumed to be the custom argument that you would like
                          to be used. May not exceed 10,000 bytes.
                        type: object
                      headers:
                        description: "A collection of JSON key/value pairs allowing you to specify
                          specific handling instructions for your email. You may
                          not overwrite the following headers: x-sg-id,
                          x-sg-eid, received, dkim-signature, Content-Type,
                          Content-Transfer-Encoding, To, From, Subject,
                          Reply-To, CC, BCC"
                        type: object
                      send_at:
                        description: A unix timestamp allowing you to specify when you want your email
                          to be delivered. Scheduling more than 72 hours in
                          advance is forbidden.
                        type: integer
                      subject:
                        description: The subject of your email. Char length requirements, according to
                          the RFC -
                          http://stackoverflow.com/questions/1592291/what-is-the-email-subject-length-limit#answer-1592310
                        minLength: 1
                        type: string
                      substitutions:
                        description: A collection of key/value pairs following the pattern
                          "substitution_tag":"value to substitute". All are
                          assumed to be strings. These substitutions will apply
                          to the text and html content of the body of your
                          email, in addition to the `subject` and `reply-to`
                          parameters.
                        maxProperties: 10000
                        type: object
                      to:
                        description: An array of recipients. Each object within this array may contain
                          the name, but must always contain the email, of a
                          recipient.
                        items:
                          $ref: "#/components/schemas/email_object"
                        maxItems: 1000
                        minItems: 1
                        type: array
                    required:
                      - to
                    type: object
                  maxItems: 1000
                  type: array
                  uniqueItems: false
                reply_to:
                  $ref: "#/components/schemas/email_object"
                sections:
                  description: An object of key/value pairs that define block sections of code to
                    be used as substitutions.
                  type: object
                send_at:
                  description: A unix timestamp allowing you to specify when you want your email
                    to be delivered. This may be overridden by the
                    personalizations[x].send_at parameter. Scheduling more ta 72
                    hours in advance is forbidden.
                  type: integer
                subject:
                  description: The global, or “message level”, subject of your email. This may be
                    overridden by personalizations[x].subject.
                  minLength: 1
                  type: string
                template_id:
                  description: "The id of a template that you would like to use. If you use a
                    template that contains a subject and content (either text or
                    html), you do not need to specify those at the
                    personalizations nor message level. "
                  type: string
                tracking_settings:
                  description: Settings to determine how you would like to track the metrics of
                    how your recipients interact with your email.
                  properties:
                    click_tracking:
                      description: Allows you to track whether a recipient clicked a link in your
                        email.
                      properties:
                        enable:
                          description: Indicates if this setting is enabled.
                          type: boolean
                        enable_text:
                          description: Indicates if this setting should be included in the text/plain
                            portion of your email.
                          type: boolean
                      type: object
                    ganalytics:
                      description: Allows you to enable tracking provided by Google Analytics.
                      properties:
                        enable:
                          description: Indicates if this setting is enabled.
                          type: boolean
                        utm_campaign:
                          description: "The name of the campaign.\t"
                          type: string
                        utm_content:
                          description: "Used to differentiate your campaign from advertisements.\t"
                          type: string
                        utm_medium:
                          description: Name of the marketing medium. (e.g. Email)
                          type: string
                        utm_source:
                          description: Name of the referrer source. (e.g. Google, SomeDomain.com, or
                            Marketing Email)
                          type: string
                        utm_term:
                          description: "Used to identify any paid keywords.\t"
                          type: string
                      type: object
                    open_tracking:
                      description: Allows you to track whether the email was opened or not, but
                        including a single pixel image in the body of the
                        content. When the pixel is loaded, we can log that the
                        email was opened.
                      properties:
                        enable:
                          description: Indicates if this setting is enabled.
                          type: boolean
                        substitution_tag:
                          description: Allows you to specify a substitution tag that you can insert in the
                            body of your email at a location that you desire.
                            This tag will be replaced by the open tracking
                            pixel.
                          type: string
                      type: object
                    subscription_tracking:
                      description: Allows you to insert a subscription management link at the bottom
                        of the text and html bodies of your email. If you would
                        like to specify the location of the link within your
                        email, you may use the substitution_tag.
                      properties:
                        enable:
                          description: Indicates if this setting is enabled.
                          type: boolean
                        html:
                          description: HTML to be appended to the email, with the subscription tracking
                            link. You may control where the link is by using the
                            tag <% %>
                          type: string
                        substitution_tag:
                          description: "A tag that will be replaced with the unsubscribe URL. for example:
                            [unsubscribe_url]. If this parameter is used, it
                            will override both the `text` and `html` parameters.
                            The URL of the link will be placed at the
                            substitution tag’s location, with no additional
                            formatting."
                          type: string
                        text:
                          description: Text to be appended to the email, with the subscription tracking
                            link. You may control where the link is by using the
                            tag <% %>
                          type: string
                      type: object
                  type: object
              required:
                - personalizations
                - from
                - subject
                - content
              type: object
      responses:
        "202":
          description: "Mail Sent Successfully"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errors"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errors"
          description: ""
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errors"
          description: ""
      security:
        - Authorization: []
      summary: v3 Mail Send
      tags:
        - Mail Send
components:
  schemas:
    email_object:
      properties:
        email:
          format: email
          type: string
        name:
          description: The name of the person to whom you are sending an email.
          type: string
      required:
        - email
      title: Email Object
      type: object
    errors:
      properties:
        errors:
          items:
            properties:
              field:
                description: The field that has the error.
                nullable: true
                type: string
              message:
                description: The message the API caller will receive.
                type: string
            type: object
          type: array
      title: Error Schema
      type: object
  securitySchemes:
    Authorization:
      in: header
      name: Authorization
      type: apiKey