openapi: 3.1.0
info:
  title: Format REST API
  version: 4.0.0
paths:
  /projects:
    get:
      operationId: op1
      responses:
        '200':
          description: Feature flag approval request response
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/StringObject'
    post:
      operationId: op2
      responses:
        '200':
          description: Feature flag approval request response
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/IntegerObject'
    delete:
      operationId: op3
      responses:
        '200':
          description: Feature flag approval request response
          content:
            "application/json":
              schema:
                $ref: '#/components/schemas/NumberObject'
servers:
  - url: https://app.launchdarkly.com/api/v2
components:
  schemas:
    StringObject:
      type: object
      properties:
        name:
          type: string
        byteContent:
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          format: byte
        binaryContent:
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          format: binary
        uuidContent:
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          format: uuid
        uriContent:
          type: string
          format: uri
          pattern: ^[a-zA-Z][a-zA-Z0-9+.-]*:[a-zA-Z0-9+.-]+$
        dateContent:
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          format: date
        passwordContent:
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          format: password
        datetimeContent:
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          format: date-time
        emailContent:
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          format: email
        hostnameContent:
          type: string
          format: hostname
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](\.[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9])*$
        ipv4Content:
          type: string
          format: ipv4
          pattern: ^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$
        ipv6Content:
          type: string
          format: ipv6
          pattern: ^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$
    IntegerObject:
      type: object
      properties:
        name:
          type: string
        int32Content:
          type: integer
          format: int32
          maximum: 2147483647
        int64Content:
          type: integer
          format: int64
          minimum: 0
    NumberObject:
      type: object
      properties:
        name:
          type: string
        floatContent:
          type: number
          format: float
          minimum: 0.1
        doubleContent:
          type: number
          format: double
          maximum: 200
