openapi: "3.0.1"

info:
  title: "OpenWeather Map API for Query parameter"
  description: "Get current weather, daily forecast for 16 days, and 3-hourly forecast 5 days for your city."
  version: "2.5.2"
  x-ballerina-display:
    label: Open Weather Client

servers:
  - url: "http://api.openweathermap.org/data/2.5/"

paths:
  /onecall:
    get:
      tags:
        - Weather Forecast
      summary: "Provide weather forecast for any geographical coordinates"
      description: "test"
      operationId: getWeatherForecast
      parameters:
        - description: "Latitude"
          in: query
          name: lat
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Latitude
        - description: "Longtitude"
          in: query
          name: lon
          required: true
          schema:
            type: string
          x-ballerina-display:
            label: Longtitude
        - description: "test"
          in: header
          name: exclude
          required: false
          schema:
            type: string
            default: 'current'
          x-ballerina-display:
            label: Exclude
        - description: 'tests'
          in: header
          name: units
          required: false
          schema:
            type: integer
            default: 12
          x-ballerina-display:
            label: Units
      x-ballerina-display:
        label: "Weather Forecast"
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherForecast'
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Weather not found
                type: string
                example: Not found
  /weather:
    get:
      summary: Info for a specific pet
      operationId: showPetById
      tags:
        - pets
      parameters:
        - in: header
          description: Tests header 01
          name: X-Request-ID
          schema:
            type: string
            format: uuid
          required: true
        - in: header
          description: Tests header 02
          name: X-Request-Client
          schema:
            type: array
            items:
              type: string
              format: uuid
          required: true
        - in: header
          description: Tests header 03
          name: X-Request-Pet
          schema:
            type: array
            items:
              $ref: "#/components/schemas/WeatherForecast"
          required: true
      responses:
        '200':
          description: Expected response to a valid request

security:
  - app_id: []

tags:
  - name: Current Weather Data
    description: "Get current weather details"
  - name: Weather Forecast
    description: "Get data related to weather forecast"
components:
  schemas:
    WeatherForecast:
      type: object
      properties:
        lat:
          type: number
        lon:
          type: number
  securitySchemes:
    app_id:
      type: apiKey
      description: API key.
      name: appid
      in: query
