name: PR build

on: [push, pull_request]

jobs:
  ubuntu-build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 11.0.7
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.7
      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
            ./gradlew build --stacktrace --scan --console=plain --no-daemon
            ./gradlew codeCoverageReport --no-daemon
      - name: Archive Code Coverage JSON
          uses: actions/upload-artifact@v2
          with:
            name: Code Coverage JSON
            path: openapi-ballerina/target/report/test_results.json
            if-no-files-found: ignore
            - name: Generate Codecov Report
              uses: codecov/codecov-action@v1

  windows-build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 11.0.7
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.7
      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew.bat build --stacktrace --scan --console=plain --no-daemon
